/** Common Animation Effects CSS **/

/* show-slide-up effect */

.show-slide-up {
	transition: all .3s linear;

	opacity: 0.0;
	max-height: 0px;
}
.show-slide-up.show {
	opacity: 1.0;
	max-height: 1000px; /* assuming relatively small content height */
}

@media(max-width: 767px) {
	.show-slide-up.force-show-mobile {
		opacity: 1.0;
		max-height: 1000px; /* see note fromBelow */
	}
}

/** show-eased-fromBelow effect **/
/* fades in and moves up into position with slight margin */

.show-eased-fromBelow-enter,
.show-eased-fromBelow-appear {
  opacity: 0.0;
  margin-top: 10px;
  
  -webkit-transition: opacity 0.2s linear, margin-top 0.2s linear;
  -moz-transition: opacity 0.2s linear, margin-top 0.2s linear;
  -o-transition: opacity 0.2s linear, margin-top 0.2s linear;
  transition: opacity 0.2s linear, margin-top 0.2s linear;
}
.show-eased-fromBelow-enter.show-eased-fromBelow-enter-active,
.show-eased-fromBelow-appear.show-eased-fromBelow-appear-active {
  opacity: 1.0;
  margin-top: 0px;
}
.show-eased-fromBelow-leave {
  opacity: 1.0;
  margin-top: 0px;

  -webkit-transition: opacity 0.2s linear, margin-top 0.2s linear;
  -moz-transition: opacity 0.2s linear, margin-top 0.2s linear;
  -o-transition: opacity 0.2s linear, margin-top 0.2s linear;
  transition: opacity 0.2s linear, margin-top 0.2s linear;
}
.show-eased-fromBelow-leave.show-eased-fromBelow-leave-active {
  opacity: 0.0;
  margin-top: -10px;
}

/****************************************************************************************/
/** Checkmark Circle **/
/* see: http://codepen.io/haniotis/pen/KwvYLO/ */

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  /*display: block;*/
  stroke-width: 4;
  stroke: #fff;
  stroke-miterlimit: 10;
  /*margin: 10% auto;*/
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
