/** Imports **/

/*@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700);*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

/** Body **/

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 14px; /* was 10pt, and then was 13px, now 14px for readability */

	color: #050505;
	/*color: #666666;*/ /* changed from 2c2c2c, this is 60% opacity black essentially */
	/*background: #f0f0f0;*/ /* changed from f9f9f9 */
	/*background: #f0f3f6;*/
	background: #f4f4f4;

	-webkit-text-size-adjust: 100%; /* This prevents mobile Safari from freely adjusting font-size (ie on a device rotation etc) */
	
	/* this was one possible solution to fix the iPhone scrolling issue */
	/* doesn't really work and doesn't make it any easier to scroll and breaks legacy backwards compay with non MainContainer pages */
	/*position: fixed;
	width: 100%;
	height: 100%;*/

	/* fixes issue with setting overflow: hidden; and no longer being able to see main content of page when using MainController system */
	min-height: 100%;
	min-width: 100%;
}

html {
	height: 100%;
}

img {
	border: 0px;
}

/** Firefox hide broken/loading images **/

@-moz-document url-prefix() {
    /* hide the system icon for loading images */
    img:-moz-loading {
        visibility: hidden;
    }
    /* hide the system icon for broken images */
    img:-moz-broken {
        -moz-force-broken-image-icon: 0;
    }
}

/*******************************************************************************************************/

h3, .h3 {
	/*margin-top: 10px;*/
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 18px;
	font-family: "Open Sans";
	/*font-weight: 100;*/
	font-weight: 500;
}

h4, .h4 {
	padding: 0;
	margin: 0;
	margin-bottom: 10px;

	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	display: block;
}

h5, .h5 {
	margin: 0;
	padding: 0;

	font-size: 16px;
	/*font-family: "Roboto Slab", serif;*/
	font-family: "Open Sans";
	color: #555 !important; /* todo: standardise color schemes for text etc all alround the place */
	font-weight: bold;
}

a.h3, a.h4, a.h5, 
a.h3:hover, a.h4:hover, a.h5:hover {
	text-decoration: none;
}

td h3, td h4, td h5 {
	margin: 0; padding: 0;
}

.grey-bg {
	background: #f9f9f9;
}

.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.text-right {
	text-align: right !important;
}

.vertical-align-top {
	vertical-align: top !important;
}
.vertical-align-middle {
	vertical-align: middle !important;
}
.vertical-align-baseline {
	vertical-align: baseline !important;
}
.vertical-align-bottom {
	vertical-align: bottom !important;
}

.overflow-hidden {
	overflow: hidden !important;
}
.overflow-visible {
	overflow: visible !important;
}

p,
.bullets,
.p {
	line-height: 175%;
	margin-top: 0px;
	margin-bottom: 10px;
}

.sub {
	font-size: 12px;
}

/********************************************************/
/** State styling **/

.warning {
	color: #FF4800;
	font-weight: bold;
}

/********************************************************/

/** Equal Split Containers **/

/* Equal Cols */
/* These just size given a % */

.equalCols > *,
.cols > * {
	float: left;
}
.equalCols > * > div,
.cols > * > div {
	padding: 10px;
}

.pad-content {
	padding: 10px;
}

.equalCols.equal1 > *,
.equalCols.equal-2 > * {
	width: 100.0%;
}
.equalCols.equal2 > *,
.equalCols.equal-2 > * {
	width: 50.0%;
}
.equalCols.equal3 > *,
.equalCols.equal-3 > * {
	width: 33.3%;
}
.equalCols.equal4 > *,
.equalCols.equal-4 > * {
	width: 25.0%;
}
.equalCols.equal5 > *,
.equalCols.equal-5 > * {
	width: 20.0%;
}

@media (max-width: 319px) {
	.equalCols > * {
		float: none;
		width: auto;
	}
}

/* Equal Blocks */
/* These evenly space blocks and pad them too */

.equal-blocks {
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -15px; /* so that the last row do not have any margin under them by default */
}
.equal-blocks-noMargin {
	margin: 0px;	
}

.equal-blocks > .equal-block-container {
	display: inline-block;
	vertical-align: middle;
	width: auto; /* we distribute the width at this level */
	margin-bottom: 15px;
}
.equal-blocks-noMargin > .equal-block-container {
	margin-bottom: 0px;
}

.equal-blocks > .equal-block-container > * {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
}
.equal-blocks-noMargin > .equal-block-container > * {
	margin: 0px;
}

.equal-blocks > .equal-block-container > div > * {
	max-width: 100%;
}

.equal-blocks.equal-1 > .equal-block-container {
	width: 100%;
}
.equal-blocks.equal-2 > .equal-block-container {
	width: 50%;
}
.equal-blocks.equal-3 > .equal-block-container {
	width: 33.3334%;
}
.equal-blocks.equal-4 > .equal-block-container {
	width: 25%;
}
.equal-blocks.equal-5 > .equal-block-container {
	width: 20%;
}
.equal-blocks.equal-6 > .equal-block-container {
	width: 16.6667%;
}

@media (max-width: 767px) {
	.equal-blocks {
		margin-bottom: 0px; /* 23/10/2015 (1:50 am lol): added this in now - does this break anything??? */
	}

	.equal-blocks > .equal-block-container {
		display: block;
		width: auto !important;
	}

	.equal-blocks > .equal-block-container > .content-pad {
		padding-bottom: 0px;
	}
	.equal-blocks > .equal-block-container:last-child > .content-pad {
		padding-bottom: 10px; /* hard coded value same as in .content-pad in containers.css */
	}
}

@media(min-width: 768px) {
	.equal-blocks > .equal-block-container > .content-pad {
		padding-left: 0px;
		padding-right: 0px;
	}
	.equal-blocks > .equal-block-container:first-child > .content-pad {
		padding-left: 15px; /* hard coded value same as in .content-pad in containers.css */
	}
	.equal-blocks > .equal-block-container:last-child > .content-pad {
		padding-right: 15px; /* hard coded value same as in .content-pad in containers.css */
	}
}

/********************************************************/

/* Inlining */

.block {
	display: block !important;
}

.inline-block, .inline-block-mid, .inline-children > * {
	display: inline-block !important;
	position: relative;
}
.inline-block-mid {
	vertical-align: middle;
}

.inline-children > * {
	margin-right: 5px;
	margin-bottom: 5px;
	vertical-align: middle;
}

.inline-children-singleline {
	white-space: nowrap;
}
.inline-children-singleline > * {
	white-space: initial;
}

@media (max-width: 767px) {
	.inline-children-multiline-mobile {
		white-space: normal;
	}
}

.inline-children {
	margin-bottom: -5px;
}
span.inline-children {
	display: block;
}

.inline-children > *:last-child {
	margin-right: 0px;
}
.inline-children > *:first-child {
	margin-left: 0px;
}

/* below should be deprecated and just use above, why does .left and .right matter...? */

.left.inline-children > *, .left > .inline-block {
	margin-left: 5px;
}
.right.inline-children > *, .right > .inline-block {
	margin-right: 5px;
}
.right.inline-children > *:last-child, .right > .inline-block:last-child {
	margin-right: 0px;
}
.left.inline-children > *:first-child, .left > .inline-block:first-child {
	margin-left: 0px;
}

.block-children > * {
	display: block !important;
}

@media(max-width: 767px) {
	.block-children-mobile > * {
		margin-top: 10px;
		margin-right: 0px;
		margin-bottom: 0px;
		display: block !important;
	}
	.block-children-mobile > *:first-child {
		margin-top: 0px;
	}
}

/** General **/

.left {
	float: left;
}

.right {
	float: right;
}

.hundredHeight {
	height: 100%;
}

.center {
	position: relative;
	margin: 0 auto;
}

.nodisplay {
	display: none;
}

span.small {
	font-size: 12px;
}

/** Positioning **/

.position-absolute-center {
	/* this is broken/ugly in Chrome for some reason, hence all the hacks - but it still doesn't work well */

	position: absolute;
	top: 50%;
	left: 50%;
	
	transform: translate(-50%, -50%);

	/* this is necessary in chrome because otherwise we get blurring if -50%, -50% happens to split a pixel */
	-webkit-transform: translate3d(-50%, -50%, 0);
	-webkit-filter: blur(0);
	/*filter: blur(0);*/ /* but we don't want to apply this to firefox etc as it's not an issue there... crazyness */
}

.position-absolute-center-manual {
	position: absolute;
	top: 50%;
	left: 50%;
}

/** Clearfix **/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix-right:after {
	content: ".";
	display: block;
	height: 0;
	clear: right;
	visibility: hidden;
}

.clearfix-left:after {
	content: ".";
	display: block;
	height: 0;
	clear: left;
	visibility: hidden;
}

/** Fonts (now imported) **/

/*
@font-face {
	font-family: 'roboto_slabbold';
	src: url('/font/robotoslab-bold-webfont.eot');
	src: url('/font/robotoslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('/font/robotoslab-bold-webfont.woff') format('woff'),
		url('/font/robotoslab-bold-webfont.ttf') format('truetype'),
		url('/font/robotoslab-bold-webfont.svg#roboto_slabbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto_slabregular';
	src: url('/font/robotoslab-regular-webfont.eot');
	src: url('/font/robotoslab-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('/font/robotoslab-regular-webfont.woff') format('woff'),
		url('/font/robotoslab-regular-webfont.ttf') format('truetype'),
		url('/font/robotoslab-regular-webfont.svg#roboto_slabregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

.strong {
	font-weight: bold !important;
	color: rgba(0,0,0,0.85);
}

/** Borders **/

.border-right {
	border-right: 1px solid #969696;
}
.border-bottom {
	border-bottom: 1px solid #969696;
}
.border-left {
	border-left: 1px solid #969696;
}
.border-top {
	border-top: 1px solid #969696;
}

/** Links **/

a,
.sitelink {
	color: #19558D;
	text-decoration: none;
	cursor: pointer;
}

a:hover,
.sitelink:hover {
	text-decoration: underline;
}

a.noline:hover,
.sitelink.noline:hover {
	text-decoration: none;
}

a.highlight,
.sitelink.highlight {
	background-color: #DFEAF4;
	border-radius: 4px;
	color: #19558D;
	display: block;
	font-size: 15px;
	padding: 4px 4px;
	text-align: center;
	text-decoration: none;
	width: auto;
	cursor: pointer;
}
a:hover.highlight,
.sitelink:hover.highlight {
	background-color: #19558D;
	color: #fff;
}

a.highlight-red,
.sitelink.highlight-red {
	background-color: #f4dfdf;
	color: #9a1919;
}
a:hover.highlight-red,
.sitelink:hover.highlight-red {
	color: #fff;
	background-color: #9a1919;
}

a.graylink,
.sitelink.graylink {
	color: #999999;
}
a.graylink:hover,
.sitelink.graylink:hover {
	color: #999999;
}

/** Padding **/

.pad { /* deprecated */
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

/** Colors **/

.light-gray {
	color: #999999;
}

.light-gray a {
	color: #666666;
	font-weight: bold;
}

/** Forms **/

input, .input {
	background: #fff;
    border-color: #B0B0B0;
    color: #2c2c2c;
    text-shadow: none;
    padding: 5px;
    margin: 0px;
    border: 1px solid #999999;
    border-radius: 2px;
    line-height: inherit;
    outline: 0px;
}

input[type="checkbox"],
input[type="radio"] {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

select.input {
	/* could get rid of much more of the styling by setting -webkit-appearance: none; and then custom styling (ie arrow to the side etc) */

	height: 31px;
}

textarea.input {
	resize: none;
}

input.submit, .input.submit {
	height: 30px !important;
    min-width: 65px;
    background: #B0B0B0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

input.error, .input.error {
	border-color: #df8f8f;
	border-width: 3px;
}

input:disabled, input.disabled, .input:disabled, .input.disabled, .input-disabled {
	background: #eee;
}

input:focus, .input-focus {
	outline: 0px solid transparent;
	border: 1px solid #145588 !important;
}

.input-error {
	border: 1px solid #c61111 !important;
	background: #fcc0c0;
	color: #c61111 !important;
}

.input-error:focus, .input-error.input-focus {
	/*border-color: #000;*/
	color: #2c2c2c !important;
}

.input-file {
	border: 0px;
}

/*label {
	font-weight: bold;
}*/

/**********************************************************************************************/
/** Infotable and Formtable table types **/

/* .formtable & .infotable */
/* share lots of the same styling so messily interwoven here */

.formtable,
.infotable {
	width: 100%;
}

.formtable td/*,
.infotable td*/ {
	padding-bottom: 5px; /* was 10px, seemed too much */
}
.formtable tr:last-child td/*,
.infotable tr:last-child td*/ {
	padding-bottom: 0px;
}

.formtable tr.multirow td.labelCell,
.infotable tr.multirow td.labelCell {
	vertical-align: top;
}

.formtable label {
	/*font-weight: bold;*/
}

.formtable td.labelCell,
.infotable td.labelCell { /* Label Cell */
	/*font-weight: bold;*/
	text-align: right;
	width: 10%;
	white-space: nowrap;
}
.infotable td.labelCell {
	text-align: left;
	padding-right: 15px;
}

.formtable td.labelCell-right,
.infotable td.labelCell-right {
	width: 100%; /* ie tries to take up as much space as possible */
	/*text-align: left;*/
	padding-left: 10px;
}

.formtable td.labelCell:first-child > *:last-child,
.infotable td.labelCell:first-child > *:last-child {
	padding-right: 10px; /* was previously 5px .... seemed too little */
}

.formtable td.labelCell.multiline,
.infotable td.labelCell.multiline {
	vertical-align: top;
	padding-top: 9px;
}
.infotable td.labelCell.multiline {
	padding-top: 0px;
}

.formtable td.radioCell { /* Radio Cell */
	width: 0%;
	padding-right: 10px; /* was 5px */
	/*padding-left: 5px;*/
	/*padding-top: 5px;*/ /* seems to be unncessary now */
	vertical-align: top;
}

.formtable td.inputCell { /* Input Cell */
	vertical-align: top;
	width: 90%;
}
.formtable td.inputCell.multiline {
	padding-top: 6px;
}

.formtable td.inputCell-small {
	width: 100px;
}
.formtable td.inputCell-small > .textinput-contain {
	width: 100px;
	display: inline-block;
}

.formtable td.inputCell .sub,
.infotable td .sub, {
	margin-top: 3px;
	font-size: 85%;
}

.formtable td .error {
	color: #c61111;
}

.formtable td.inputCell .sub:first-child,
.infotable td .sub:first-child {
	margin-top: 0px;
	margin-bottom: 5px;
}

.formtable td.inputCell textarea { /* used when we easily need to detect new lines for instance (vs TextInput) */
	width: 95%;
	height: 60px;
}

.formtable td.infoCell { /* Info Cell (used instead of input cell sometimes) */
	vertical-align: top;
	width: 90%;
}

.formtable td.infoCell > span {
	display: block;
	font-size: 13px;
	padding-top: 5px;
	color: rgba(0,0,0,0.45);
}

.infotable td > .fa:first-child {
	margin-right: 3px;
}

/* inputs are messed up - overflows due to padding in the input so can't fill the width, use a TextInput component instead! */

.formtable input {
	width: auto;
	/*display: block;*/
}

.formtable input.submit {
	max-width: 125px;
}

/* .infotable */

table.infotable td.labelCell {
	font-weight: bold;
	text-align: right;
	width: 10%;
	white-space: nowrap;
	padding-right: 10px;
}
table.infotable td.labelCell.multiline {
	vertical-align: top;
}

table.infotable tr td.infoCell {
	vertical-align: top;
	width: 90%;
}

/**********************************************************************************************/
/** .gridtable table **/

.gridtable {
	border-spacing: 0px;
}

.gridtable td {
	padding: 10px 15px;
	border-top: 1px solid rgba(95, 95, 95, 0.25);
	border-left: 1px solid rgba(95, 95, 95, 0.25);
}

.gridtable tr:first-child td {
	border-top: 0px;
}

/*.gridtable tr:last-child td {
	border-bottom: 0px;
}*/

.gridtable tr td:first-child {
	border-left: 0px;
}

/*.gridtable tr td:last-child {
	border-right: 0px;
}*/

/**********************************************************************************************/
/** .rowtable table **/

.rowtable {
	width: 100%;
	border-collapse: collapse;
}

.rowtable td {
	padding: 8px;
}

.rowtable .row td {
	border-bottom: 1px solid #ccc;
}

/* Row Types */

.rowtable .row-section-title td {
	padding-top: 30px;
	font-weight: 600;
}
.rowtable > .row-section-title:first-child td,
.rowtable > tbody:first-child > .row-section-title:first-child td {
	padding-top: 8px;
}

.rowtable .row-doublePad-bottom td {
	padding-bottom: 16px;
}

/* Cell Types */

.rowtable .cell-small {
	width: 34px;
}

.rowtable .cell-icon {
	width: 28px;
	padding-left: 0px;
	padding-right: 0px;
}

.rowtable .cell-nobreak {
	white-space: nowrap;
}


/**********************************************************************************************/
/** a sublink style **/

.sublinks .sublink {
	padding-right: 15px;
}
.sublinks.right .sublink {
	padding-right: 0px;
	padding-left: 15px;
}
.inline-children .sublinks {
	padding-top: 0px !important;
}

a.sublink {
	color: #888888;
	font-size: 13px;
	text-decoration: none;
	cursor: pointer !important;
}
a.sublink:hover {
	color: #464646;
}
a.sublink:hover span {
	text-decoration: underline;
}
a.sublink .fa:first-child {
	padding-right: 5px;
}
a.sublink .fa:last-child {
	padding-left: 5px;
}

a.sublink .highlight {
	background: #888888;
	border-radius: 3px;
	color: #fff !important;
	margin-right: 4px;
	padding: 2px 4px;
}
a.sublink:hover .highlight {
	text-decoration: none !important;
}

/**********************************************************************************************/
/** uploadImg **/

.uploadImg {

}

.uploadImg-fillContainer {
	background: #fff;
	/*display: inline-block;*/
}

.uploadImg-fillContainer > img {
	border-radius: inherit;
}

.uploadImg-coverContainer {
	background-size: cover !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
}

/**********************************************************************************************/
/** React Draggable **/

.react-draggable-container {
	position: relative;
}
.react-draggable-container-active {
	position: absolute;
	pointer-events: none; /* note IE compat issues */
}

.react-draggable {
	position: relative;
	
	cursor: move;
	cursor: -webkit-grab;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.react-draggable-active {
	position: absolute;
	z-index: 1000; /* slightly over compensating */
	opacity: 0.75;
	
	cursor: move;
	cursor: -webkit-grabbing;
}

/**********************************************************************************************/
/** Unselectable Content **/

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/**********************************************************************************************/
/** Font Awesome Bullet Points **/
/* DEPRECATED */

.fa-bullet {

}

.fa-bullet > .fa {
	float: left;
	display: block;
	margin-top: 5px;
}

.fa-bullet > .content {
	position: relative;
	margin-left: 25px;
	display: block;
}

/** Re style .fa-ul **/

.fa-ul {
	margin: 0px;
	line-height: 150%;
}

.fa-ul li {
	margin-bottom: 15px;
}
.fa-ul li:last-child {
	margin-bottom: 0px;
}

/**********************************************************************************************/
/** Fill Remaining **/
/* reference: http://stackoverflow.com/questions/5043804/make-div-fill-up-remaining-space */
/* Uses a css float trick to fill the remaining width of two divs */
/* We apply rules so that we can stack in a media query etc */
/* Remember to use a .clearfix around this */
/*

<div className="clearfix">
	<div className="file-remaining-container">

	</div>
	<div className="fill-remaining">

	</div>
</div>

*/

.fill-remaining-container {
	float: left;
	width: 100%;
	overflow: hidden;
} 

.fill-remaining-container .fill-remaining {
	overflow: hidden;
}

/* then use .left and .right floats to fill up the row with fixed widths */

@media(max-width:767px) {
	.fill-remaining-container.stack-mobile {
		overflow: visible;
		float: none;
	}

	.fill-remaining-container.stack-mobile > * {
		float: none;
		overflow: visible;
		display: block;
		width: auto;
	}
}

/** Media Query Display **/

.hide-mobile {
	display: block !important;
}
.show-mobile {
	display: none !important;
}

@media(max-width: 767px) {
	.hide-mobile {
		display: none !important;
	}
	.show-mobile {
		display: block !important;
	}

	.block-mobile {
		display: block !important;
	}

	.noborder-mobile {
		border: 0 !important;
	}

	.nopad-mobile {
		padding: 0px !important;
	}
}

/**********************************************************************************************/
/** Rows **/

.rows {

}

.rows .row,
.rows tr {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.rows .row:last-child,
.rows tr:last-child {
	border-bottom: 0px;
	margin-bottom: 0px;
}

/**********************************************************************************************/
/* Aligner tool */
/* used to align inline-blocks with an invisible object of a certain height next to them */

.midaligner { /* is this deprecated? what is it doing? */
	height: 100%;
	width: 2px;
	display: inline-block;
	vertical-align: middle;
}

/*

<div className="aligner-container">
		<div className="aligner" />
		<div>
			Content
		</div>
</div>

*/

.aligner-container {

}

.aligner-container > * {
	display: inline-block;
}
.aligner-container > *:last-child {
	width: 100%;
}

.aligner {
	position: relative;
	width: 1px;
	margin-left: -1px !important; /* else removed by being a child of inline-children */
	margin-bottom: 0px !important; /* usually inline-children inherit a 5px margin at the bottom */
}

/**********************************************************************************************/
/** Fork Border **/
/* used to show a div which tracks down to two options presented side by side */
/*

	<div className="fork-split">
		<div className="fork-split-top" />
	</div>

*/

.fork-split {
	position: relative;
	width: 50%;
	height: 15px;

	margin: 20px auto; /* 10px of this is to account for the split-top */
	margin-bottom: 15px;

	border-width: 3px 3px 0px 3px;
	border-color: rgba(0, 0, 0, 0.25);
	border-style: solid;
}

.fork-split-top {
	position: absolute;
	left: 50%;
	margin-left: -1px;
	top: -18px;

	height: 15px;
	width: 3px;
	
	background: rgba(0, 0, 0, 0.25);
}

@media(max-width:767px) {
	.fork-split {display: none;}
}

/**********************************************************************************************/
/** Content Show Modes & Transitions **/

.hidden {
	visibility: hidden;
}

.show {
	visibility: visible;
}

@media(max-width: 767px) {
	.force-show-mobile {
		visibility: visible;
	}
}

/**********************************************************************************************/
/** video-wrapper **/
/* allows us to make sure videos always appear in a 16:9 ratio, ie adjusts height for width */
/* from: https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	/*padding-top: 25px;*/
	height: 0;
}
.video-wrapper > * { /* usually an iframe for the actual but could be a thumb that we want to stretch into the wrapper, too (hence > *) */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
}

/**********************************************************************************************/
/** success/error coloring **/

.success {
	color: #57ad0b !important;
}
.error {
	color: #E82C2C !important;
}

/**********************************************************************************************/
/** Positioning **/

.position-relative {
	position: relative !important;
}
.relative-children > * {
	position: relative !important;
}