/** Inner Container **/
/* Used to limit the width of a particular main page element (header, main-content) */

.inner-container {
	margin: 0 auto;
	position: relative;
}

.inner-container.fixed-width {
	/*max-width: 90%;*/
	max-width: 80%;
}

@media(max-width: 1030px) {
	.inner-container.fixed-width {
		max-width: 100%;
	}
}

/*************************************************************************/

/** Main Container **/
/* Contains sidebar and main content (ie the main page's layout) */
/* A min-height should be set on this if we want to always guarantee the sidepane-colorpad is covered properly (necessary in certain layout formats) */

.main-container {
	overflow: hidden;
	position: relative;
	z-index: 0;
	/*padding-bottom: 20px;*/
	background: #fff; /* doing this to make life easier, dunno if it effs anything up... */
}
/*.main-container:last-child {
	padding-bottom: 20px;
}*/

.content-container h1, .main-container h1 {
	margin: 0;
	padding: 0;

	font-family: "Open Sans";
	margin-bottom: 20px;
	/*font-weight: normal;*/
	font-weight: 100;

	word-wrap: break-word;
	display: block;
}

/*************************************************************************/

/** Content Container **/
/* Contains the actual content for the page (ie a particular topic, feed, etc) */

.content-container {
	position: relative;
	/*background: #f0f0f0;*/ /* changed from f9f9f9 */
	/*background: #f0f3f6;*/ /* slightly blue tinged version */
	/*background: #f4f4f4;*/
	z-index: 0; /* to bring in line with other main page container blocks, not sure if there are adverse effects of doing this */

	padding-top: 15px;
	padding-bottom: 15px;
}

.content-container-multicolumn {
	padding-bottom: 10000000px;
	margin-bottom: -10000000px;
}

.content-container.fixed-width {

}

.content {

}

.content-fixed #content {
	margin-left: -155px;
}

.content-pad {
	/*padding: 15px;*/
	padding: 10px; /* to line up with header */
	padding-left: 15px;
	padding-right: 15px;
}
.content-bigpad {
	padding: 30px;
}
@media(max-width:767px) {
	.content-bigpad {
		padding: 15px;
	}
}
.main-container > .inner-container > .content-pad,
.content-container > .inner-container > .content-pad {
	padding-top: 0px;
	padding-bottom: 0px;
}

.container h1,
.container .h1 {
	margin: 0;
	padding: 0;

	font-family: "Open Sans";
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 35px;
	line-height: normal;
}

/*.content-container*/ .container h2,
.container .h2 {
	margin: 0;
	padding: 0;

	font-family: "Open Sans";
	margin-bottom: 10px;
	/*font-weight: bold;*/
	font-weight: normal;
	font-size: 20px;
	/*color: #6f6f6f;*/
	color: rgba(0,0,0,0.75)
	text-transform: uppercase;
}

/*.content-container*/ .container h2 .fa,
.container .h2 .fa {
	padding-right: 5px;
}

/*.content-container*/ .container h3,
.container .h3 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;

	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	color: #aaa;
	display: block;
}

.header-strap {
	font-size: 12px;
	color: #6f6f6f;
	font-weight: normal;
}

@media (max-width: 767px) {
	.content-container-multicolumn {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.content-pad {
		padding-bottom: 10px;
	}

	.content-container.content-offset-sidepane-left {
		margin-left: 0 !important;
	}

	.content-container.content-offset-sidepane-thin-left {
		margin-left: 0 !important;
	}
}