/** Gaps/Padding **/

.gapBottom { 
	margin-bottom: 10px !important;
}
.smallGapBottom {
	margin-bottom: 5px !important;
}

.separate {
	margin: 0;
	padding: 0;

	margin-bottom: 15px;
	display: block;
}

.noPad {
	padding: 0px !important;
}

.noMargin {
	margin: 0px !important;
}

/** Centre Text / Text Formatting **/

.center, .text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

/** Loaders **/

.loader {
	position: relative;
	margin: 0 auto;
	display: block;
}

/** Tag **/

.tags .tag {
	margin-right: 5px;
}

.tag {
	/*display: inline;
	background: #f0f0f0;
	padding: 3px;
	padding-left: 6px;
	padding-right: 6px;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #323339;
	cursor: pointer;
	line-height: 28px;
	text-decoration: none;
	white-space:nowrap;*/

	background: none repeat scroll 0 0 #f0f0f0;
	border: 1px solid #b0b0b0;
	border-radius: 3px;
	color: #323339;
	display: inline;
	font-size: 13px;
	font-weight: bold;
	padding: 5px 6px;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	margin-right: 5px;
	/*max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;*/
	display: inline-block;
	vertical-align: middle;
	padding-top: 3px;
	padding-bottom: 3px;

	margin-bottom: 5px;
}

a.tag,
.tag.clickable {
	cursor: pointer;
}

.tag > span {
	display: inline-block;
	/*width: 90%;
	overflow: hidden;
	text-overflow: ellipsis;*/
}
/*.tag > span:first-child {
	display: inline;
	width: auto;
	overflow: visible;
	text-overflow: visible;
}*/

.tag > .uploadImg {
	border-radius: 3px;
}

div.tagContainer {
	padding-left: 5px;
	padding-right: 5px;
}

.tag * {
	vertical-align: middle;
	display: inline-block;
	margin-left: 4px;
}

.tag *:first-child {
	margin-left: 0px;
}

.tag-small {
	padding-top: 1px;
    padding-bottom: 1px;
    font-size: 11px;
}

/*******************************************************************************************************/

/** Buttons **/
/* TODO: Style up for new version */

.button, .guiders_button {
	/*border: 1px solid;*/
    border-radius: 2px;
    box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.06) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 12px; /* was 13px */
    font-weight: bold;
    outline: 0 none;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    /*text-transform: uppercase;*/
    color: #FFFFFF !important;
    cursor: pointer;
    font-family: Open Sans;
}

.button-flat {
	box-shadow: none;
}

.button-pressed {
	box-shadow: 2px 2px 0 0 rgba(0,0,0, 0.06) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.3);
}

/* button sections are the spans immediately within the button */

.button > * {
	display: inline-block;
	vertical-align: middle;

	border-right: 1px solid rgba(0,0,0,0.25);
}
.button > *:last-child {
	border-right-width: 0px;
}

.guiders_button,
input.button,
.button > * {
	/* button padding takes place in spans (or 'sections') within the button */

	padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.buttons-margin .button {
	margin-right: 10px;
}

/* Small Button */

.button-small {
	font-size: 10px;
}

input.button-small,
.button-small > span {
	padding: 2px 5px;
}

/* Large Button */

.button-large {
	font-size: 18px;
	/* letter-spacing: 1px; */
}

@media(max-width:767px) {
	.button-large > span {
		border-right: none;

		border-top: inherit;
		border-top-width: 1px;
	}

	.button-large > span:first-child {
		border-top-width: 0px;
	}

	.button-large > span {
		display: block;
		text-align: center !important;
	}
}

input.button-large,
.button-large > span {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

a.button, a.guiders_button {
	text-decoration: none;
}

input.button {
	padding: 2px !important;
}

.button-disabled {
	opacity: 0.5;
	cursor: default !important;
}

.minHeightButton {
	height: 23px; /* allows something else to inherit this minimum height */
	line-height: 27px; /* centers line of text */
}

.button span {
	/*vertical-align: middle;*/
}

.flat-buttons .button {
	border: 0 none;
    box-shadow: none;
}

.button-blue, .guiders_button {
	background: #2D53AF;
   /* border-color: #2D53AF !important;

	background: #5689db;
	background: -moz-linear-gradient(top,  #5689db 0%, #4d7bd6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5689db), color-stop(100%,#4d7bd6));
	background: -webkit-linear-gradient(top,  #5689db 0%,#4d7bd6 100%);
	background: -o-linear-gradient(top,  #5689db 0%,#4d7bd6 100%);
	background: -ms-linear-gradient(top,  #5689db 0%,#4d7bd6 100%);
	background: linear-gradient(to bottom,  #5689db 0%,#4d7bd6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5689db', endColorstr='#4d7bd6',GradientType=0 );
*/}

.button-live-blue:hover {
	background: #4076FF;
	/*border-color: #4076FF !important;

	background: #669eff;
	background: -moz-linear-gradient(top,  #669eff 0%, #5286ff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#669eff), color-stop(100%,#5286ff));
	background: -webkit-linear-gradient(top,  #669eff 0%,#5286ff 100%);
	background: -o-linear-gradient(top,  #669eff 0%,#5286ff 100%);
	background: -ms-linear-gradient(top,  #669eff 0%,#5286ff 100%);
	background: linear-gradient(to bottom,  #669eff 0%,#5286ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#669eff', endColorstr='#5286ff',GradientType=0 );*/
}

.button-black {
	background: #000;
	box-shadow: none; /* ie this is flat */
}

.button-live-black:hover {
	background: #000;
}

.button-red {
	background: #cd3737;
	/*border-color: #af2e2e !important;

	background: #da5555;
	background: -moz-linear-gradient(top, #da5555 0%, #cd3737 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da5555), color-stop(100%,#cd3737));
	background: -webkit-linear-gradient(top, #da5555 0%,#cd3737 100%);
	background: -o-linear-gradient(top, #da5555 0%,#cd3737 100%);
	background: -ms-linear-gradient(top, #da5555 0%,#cd3737 100%);
	background: linear-gradient(to bottom, #da5555 0%,#cd3737 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da5555', endColorstr='#cd3737',GradientType=0 );*/
}

.button-live-red:hover {
	background: #ff6f6f;
	/*border-color: #ec1f1f !important;

	background: #f64444;
	background: -moz-linear-gradient(top, #f64444 0%, #ff6f6f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f64444), color-stop(100%,#ff6f6f));
	background: -webkit-linear-gradient(top, #f64444 0%,#ff6f6f 100%);
	background: -o-linear-gradient(top, #f64444 0%,#ff6f6f 100%);
	background: -ms-linear-grad##ient(top, #f64444 0%,#ff6f6f 100%);
	background: linear-gradient(to bottom, #f64444 0%,#ff6f6f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f64444', endColorstr='#ff6f6f',GradientType=0 );*/
}

.button-orange {
	background: #e37600;
	/*border-color: #b86902 !important;

	background: #e37600;
	background: -moz-linear-gradient(top, #f7aa48 0%, #e37600 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7aa48), color-stop(100%,#e37600));
	background: -webkit-linear-gradient(top, #f7aa48 0%,#e37600 100%);
	background: -o-linear-gradient(top, #f7aa48 0%,#e37600 100%);
	background: -ms-linear-gradient(top, #f7aa48 0%,#e37600 100%);
	background: linear-gradient(to bottom, #f7aa48 0%,#e37600 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7aa48', endColorstr='#e37600',GradientType=0 );*/
}

.button-green {
	background: #45910e;
	/*border-color: #3c7a0f !important;

	background: #52a515;
	background: -moz-linear-gradient(top, #52a515 0%, #45910e 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52a515), color-stop(100%,#45910e));
	background: -webkit-linear-gradient(top, #52a515 0%,#45910e 100%);
	background: -o-linear-gradient(top, #52a515 0%,#45910e 100%);
	background: -ms-linear-gradient(top, #52a515 0%,#45910e 100%);
	background: linear-gradient(to bottom, #52a515 0%,#45910e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a515', endColorstr='#45910e',GradientType=0 );*/
}

.button-whiteFrame {
	border: 1px solid rgba(255,255,255,0.35);
	color: rgba(255,255,255,0.45);
	background: transparent;
	box-shadow: none;
	text-shadow: none;
}

.button-live-whiteFrame {
	border-color: #fff;
	color: #fff;
}

.button-shadowFrame {
	border: 0px;
	color: rgba(0,0,0,0.45) !important;
	background: #fff;
	text-shadow: none;
}

.button-blackFrame {
	border: 1px solid rgba(0,0,0,0.65);
	color: rgba(0,0,0,0.65) !important;
	background: #fff;
	text-shadow: none;
	box-shadow: none;
}

.button-greenFrame {
	border: 1px solid #57ad0b;
	color: #57ad0b !important;
	background: #fff;
	text-shadow: none;
	box-shadow: none;
}

.button-redFrame {
	border: 1px solid #E82C2C;
	color: #E82C2C !important;
	background: #fff;
	text-shadow: none;
	box-shadow: none;
}

.button-transparent {
	border: 0px;
	color: rgba(255,255,255,0.45);
	background: transparent;
	box-shadow: none;
	text-shadow: none;
}

.button-live-transparent {
	border-color: transparent;
	color: #fff;
}

.button-gray {
	color: rgba(0,0,0,0.45) !important;
	background: #eee;
	/*border: 1px solid rgba(0,0,0,0.25);*/
}
.button-live-gray:hover {
	background: #bbb;
	border: #ddd;
}

/*
.button .button-pad {
	padding: 0 10px;
	color: #fff;
}*/

.button-placeholder {
	/*height: 23px;
	padding: 4px;*/
	height: 25px;
	text-align: center;
}

.button .glyphicons:before {
	color: #fff;
}

.button .fa:first-child {
	margin-right: 3px;
}
.button .fa:last-child {
	margin-left: 3px;
}

/** Button Group **/
/* snugs them up together as inline blocks */
/* using button-container allows us to space these within EqualBlocks */

.button-group .button {
	border-radius: 0px;
	margin: 0px;
	display: inline-block;
}
.button-group > .button:first-child,
.equal-blocks.button-group .equal-block-container:first-child .button {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.button-group > .button:last-child,
.equal-blocks.button-group .equal-block-container:last-child .button {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.equal-blocks.button-group .button {
	display: block;
}

/** Backgrounds **/

.background-white {
	background: #fff;
}

/** Optlinks **/

a.optlink,
.optlinks a {
	color: #aaa;
	font-size: 13px;
	text-decoration: none;
	cursor: pointer !important;
	margin-right: 8px;
}
.optlinks a:hover,
a.optlink:hover {
	color: #888;
}
.optlinks a:hover span,
a.optlink:hover span {
	text-decoration: underline;
}
.optlinks a .fa:first-child,
a.optlink .fa:first-child {
	margin-right: 5px;
}
.optlinks a .fa:last-child,
a.optlink .fa:last-child {
	margin-left: 5px;
}

/** Text Tabs **/

.texttabs {
	margin: 0;
	padding: 0;

	list-style: none;
	border-bottom: 1px solid #c2c2c2;
}

.texttab {
	color: rgba(0,0,0,0.7);
	cursor: pointer;
	float: left;
	font-weight: bold;
	margin-bottom: 2px;
	margin-right: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}

.texttab:last-child {
	margin-right: 0px;
}

.texttab-active {
	border-bottom: 3px solid #51aaef;
	color: #51aaef;
	margin-bottom: -1px;
}

/** Text Styling **/

.text-success {
	color: #52a515 !important;
}

.indent {
	display: block;
	margin-left: 15px;
}

/** Progress Bars **/

.progress {
	background-color: #F7F7F7;
    background-image: linear-gradient(to bottom, #F5F5F5, #F9F9F9);
    background-repeat: repeat-x;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
}

.progress .bar {
	-moz-box-sizing: border-box;
    background-color: #0E90D2;
    background-image: linear-gradient(to bottom, #149BDF, #0480BE);
    background-repeat: repeat-x;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 100%;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    transition: width 0.6s ease 0s;
    width: 0;
}

.progress span {
    color: #000000;
    display: block;
    font-weight: bold;
    left: 0;
    margin-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
 }

.progress-striped .bar {
	background-color: #149BDF;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 40px 40px;
}

.progress-active .bar {
	animation: 2s linear 0s normal none infinite progress-bar-stripes;
}

.progress-orange .bar {
	background-color: #FAA732;
    background-image: linear-gradient(to bottom, #FBB450, #F89406);
    background-repeat: repeat-x;
}

.progress-green .bar {
	background-color: #5EB95E;
    background-image: linear-gradient(to bottom, #62C462, #57A957);
    background-repeat: repeat-x;
}

.progress-red .bar {
	background-color: #DD514C;
    background-image: linear-gradient(to bottom, #EE5F5B, #C43C35);
    background-repeat: repeat-x;
}

/** Thumb **/

.thumb-holder {
	border: 1px solid #DDDDDD;
	box-shadow: 0 0 3px 0 rgba(200, 200, 200, 0.5);
	padding: 5px;
	vertical-align: middle;
	margin-right: 10px;
	cursor: pointer;
	background: #fff;
	height: auto;	
}

.thumb {
	position: relative;
	padding: 0px;
	margin: 0px;
}

/*******************************************************************************************************/

/** Richtextarea (inline/chunky editor) **/

.rtextarea {

}

.rtextarea-input {
	padding: 10px;
	border: 1px solid #c2c2c2;
	border-top: 0px;
	min-height: 75px;
	overflow: hidden;
	color: #2c2c2c;

	position: relative;
	z-index: 2;
}

/*.rtextarea-input p, .rtextarea-render p {
	margin-left: 10px;
	border-left: 3px solid #ccc;
	padding: 3px;
}*/

.rtextarea-input-disabled {
	background: rgba(0,0,0,0.10);
}

.rtextarea-input:focus { outline: 0px solid transparent; }

.rtextarea-toolbar {
	background: #f2f2f2;
	position: relative;
}

.rtextarea-toolbar-border {
	border: 1px solid #c2c2c2;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.rtextarea-render {
	overflow: scroll;
	word-break: break-word;
	line-height: 150%;
}

.rtextarea-render span {
	word-wrap: normal !important;
}

.rtextarea-render .latex {
	display: inline-block;
	vertical-align: middle;
	margin-right: 3px;
	margin-left: 3px;
}

.rtextarea-input-contain {
	position: relative;
	background: #fff;
}

.rtextarea-placeholder {
	position: absolute;
	z-index: 1;
	top: 0;

	padding: 10px;
	border-color: #fff;
	color: #999999;
}

.rtextarea blockquote, .rtextarea-render blockquote {
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 35px;
	border-left: 4px solid #c2c2c2;
	padding-left: 10px;
}

/** Text Input **/

.textinput-contain {
	position: relative;
	background: #fff;
	text-align: left;
	border-radius: 2px; /* to match up with .input it contains */
}

.textinput-contain.inline-block {
	vertical-align: middle;
	
	/* margin shouldn't be dictated at the leve of this component */
	/*margin-right: 5px;
	margin-left: 5px;*/
}
.textinput-contain.inline-block:first-child {
	margin-left: 0px;
}
.textinput-contain.inline-block:last-child {
	margin-right: 0px;
}

.textinput {
	min-height: 15px;	
	padding: 5px;
	color: #2c2c2c;
	background: transparent;
	line-height: inherit;

	font-size: 13px; /* ie == body font size */

	position: relative;
	z-index: 2;

	line-height: 100%;

}
.textinput > div {

}
.textinput > div > * {
	display: inline-block;
	padding: 0px;
	width: 100%;

	/*overflow: hidden;*/
	overflow-x: hidden;

	color: inherit;
	font-size: inherit;
	line-height: inherit;

	border: 0 !important;
	padding: 0;
	margin: 0;
	background: transparent;
	border-radius: 0;

	padding-top: 2px;
	padding-bottom: 2px;
}

.textinput-multiline {
	min-height: 45px;
}

.textinput-singleLine {
	white-space: nowrap;
	/*width:200px;*/
	overflow: hidden;
}
.textinput-singleLine br {
	display:none;
}
.textinput-singleLine * {
	display:inline;
	white-space:nowrap;
	overflow: hidden;
}

.textinput-disabled {
	background: rgba(0,0,0,0.10);
}

.textinput-placeholder {
	border: 0px;
	color: #aaa;
	white-space: nowrap;

	position: absolute;
	background: transparent;
	z-index: 1;
	top: 0;
}

.textinput-placeholder .fa {
	padding-right: 5px;
}

.textinput:focus,
.textinput-focused {
	outline: 0px solid transparent;
	border: 1px solid #145588;
}

.textinput-pending {
	box-shadow: 0px 0px 4px rgba(0,0,0,0.35) inset;
	background: rgba(255,255,255,1.0);
}

.textinput-icon {
	padding-left: 24px !important;
}
.textinput-large .textinput-icon {
	padding-left: 38px !important;
}

/* Style overrides for textinput */

.suggestinput-transparent .textinput-contain {
	background: transparent;
}

.textinput-transparent, 
.suggestinput-transparent .textinput, .suggestinput-transparent .textinput-contain {
	background: none;
	border: 0;
	border-bottom: 1px solid rgba(255,255,255,0.50);
}

.textinput-transparent .textinput, .textinput-transparent .textinput-placeholder, 
.suggestinput-transparent .textinput, .suggestinput-transparent .textinput-placeholder {
	border: 0;
	border-radius: 0px;
	background: none;
}

.textinput-backgroundColored {

}

.textinput-backgroundColored .textinput-placeholder, 
.suggestinput-transparent .textinput-placeholder {
	color: rgba(255,255,255,0.50);
}

.textinput-backgroundColored .textinput, 
.suggestinput-transparent .textinput {
	color: #fff;
}

/* .textinput-large */

.textinput-large {

}

.textinput-large .textinput {
	font-size: 21px;
	padding: 10px;
}

/* textinput-small */
/* designed to align with a .button-small */

.textinput-small {

}

.textinput-small .textinput {
	font-size: 11px;
    padding-top: 2px;
    padding-bottom: 1px;
}

/** Card Input **/

.cardInput {

}

.cardInput .card {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.cardInput .card .sub {
	padding-left: 10px;
}

.cardInput .card .fa {
	padding-right: 5px;
	padding-left: 10px;
}

/** Suggest Input **/

.suggestinput {
	position: relative;
}

.suggestinput.inline-block {
	vertical-align: middle;
}

ul.suggestinput-suggestions {
	padding: 0;
	margin: 0;
	list-style: none;

	position: absolute;
	top: 27px; /* 27px to make up for -1px on each li */
	left: 0px;
	z-index: 2500;
}

ul.suggestinput-suggestions li {
	font-size: 12px;
	color: #999999;
	font-weight: bold;

	position: relative;
	z-index: 1;
	margin-top: -1px;
	width: 100%;
}

ul.suggestinput-suggestions li > * {
	border: 1px solid #999999;
	padding: 5px;
	cursor: pointer;
	background: #fff;
	display: block;
}

ul.suggestinput-suggestions li:hover {
	color: #2c2c2c;
	border-color: #145588;
	font-weight: bold;
	background: #fff;

	z-index: 2;
}

/*************************************************************************/

/** Content Tabs **/

.content-tabs-contain {
	border-bottom: 2px solid #cecece;
	background: #e9e9e9;
}

.content-tabs {
	margin: 0;
	padding: 0;
	list-style: none;
}
.content-fixed .content-tabs {
	width: 650px;
}

.content-tab {
	float: left;
	position: relative;
}

.content-tab a {
	margin: 0;
	padding: 0;

	padding-top: 17px;
	padding-bottom: 13px;
	display: block;
	text-align: center;

	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

.content-tab-inactive a {
	color: #979797;
	/*box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.1) inset;*/
}
.content-tab-inactive a:hover {
	color: #7d7d7d;
	background: #f9f9f9;
}
.content-tab-active a {
	background: #f9f9f9;
	border-right: 2px solid #cecece;
	border-left: 2px solid #cecece;
	/*border-top: 2px solid #cecece;*/
	margin-bottom: -2px;
	padding-top: 17px;
	padding-bottom: 15px;
}
.content-tab-active:first-child a {
	border-left: 0px;
}
.content-tab-active:last-child a {
	/*border-right: 0px;*/
}

/*************************************************************************/

/** Content Box **/

.content-box {
	margin-bottom: 15px;

	/*box-shadow: 0px 1px 1px rgba(95, 95, 95, 0.35);*/
	border-top: 1px solid rgba(95, 95, 95, 0.25);
	background: #fff;
	border-radius: 2px; /* was 3px */

	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;

	position: relative;
	/*z-index: 0;*/ /* why do we have this? */
	line-height: 150%;

	font-size: 14px;
	font-weight: 400;

	overflow: hidden; /* so we clip our contents with our radius */
}

a.content-box {
	color: #2c2c2c;
	text-decoration: none;
	display: block;
}

.content-box-pending {
	box-shadow: none;
	border: 1px dashed #aaa;
	background: rgba(255,255,255,0.85);
}

.content-box-notDecorated {
	border-radius: 3px;
}

.content-box .sublinks {
	/*padding-top: 10px;*/
}

.content-box > .classroom-embedded {
	border: 0px !important;
}

.content-box-pad {
	padding: 15px; /* experimented with 15px but seems too much */
}
.content-box-megaPad {
	padding: 25px;
}

.slider-slide > .content-box-pad,
.slider-slide > .content-box-megaPad {
	padding-bottom: 54px;
}

.content-box .texttabs {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.content-box p {
	padding: 0px;
	margin: 0px;

	padding-bottom: 8px;
}
.content-box p:last-child {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
.content-box .sub {
	/*color: #989898;*/
}
.content-box .sub a, .content-box .sub .ownerLink {
	/*color: #8b8b8b;*/
	font-weight: bold;
	text-decoration: none;
}
.content-box .flat-buttons .button {
    /*font-size: 15px;
    padding: 1px 5px 2px;*/
}
.content-box .sub > .inline-children {
	vertical-align: top;
	margin-bottom: 10px;
}

.content-box div.header {
	/*font-family: 'Roboto Slab', serif;*/
	font-family: "Open Sans";
	font-size: 20px;
	margin-bottom: 10px;
}
.content-box div.header:first-child {
	margin-top: 0px;
}
.content-box div.header a {
	color: #2c2c2c !important;
	text-decoration: none;
	display: block;
	word-wrap: break-word;
	line-height: 150%;
}

.content-box p.sub a:hover {
	text-decoration: underline;
}

.content-box-decorate {
	border-top: 4px solid #51aaef;
	margin-top: -1px;
}
.content-box.content-box-decorate {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.content-box-section {
	border-top: 1px solid rgba(95, 95, 95, 0.25);
}
.content-box /*>*/ .content-box-section:first-child {
	border-top: 0px;
}

.content-box-section-megaPad {
	padding-top: 25px;
	padding-bottom: 25px;
}
.content-box-section-megaPad:first-child {
	padding-top: 0px;
}
.content-box-section-megaPad:last-child {
	padding-bottom: 0px;
}

.content-box-section-pad { /* used when a section is itself already being displayed within a content-box-pad */
	padding-top: 15px;
	padding-bottom: 15px;
}
.content-box-section-pad:first-child {
	padding-top: 0px;
}
.content-box-section-pad:last-child {
	padding-bottom: 0px;
}

.content-box-highlightOutline {
	border-left: 5px solid #51aaef;
}

.content-box-shade {
	/*background: #f6f6f6;*/
	/*background: #f3f5f8;*/ /* too blue */
	background: #FBFBFB;
	/*font-weight: bold;*/
	color: #868686;
}
.content-box-shade:last-child {
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
/*.content-box-shade label {
	font-weight: bold;
}*/

.content-box-buttons-container {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 4px;
	font-size: 12px;
}

.content-box-button {
	display: inline-block;
	padding: 10px;
	cursor: pointer;
	width: 100px;
	margin-right: 3px;
	text-align: center;
	position: relative;
	bottom: -1px;
	z-index: 0;
	margin-top: 2px; /* to make up for border on active tab */
}
.content-box-button .fa {
	font-weight: normal;
}

.content-box-button:hover, .content-box-button-active {
	background: #f4f4f4;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.content-box-button-active {
	background: #f6f6f6;
	font-weight: bold;
	border: 1px solid rgba(95, 95, 95, 0.25);
	border-top: 3px solid #51aaef;
	margin-top: 0px;
	border-bottom: 0px;
	z-index: 2;
}

.content-box-innerBox {
	border: 1px solid rgba(95, 95, 95, 0.25);
	background: #fff;
}

.content-box-pad ul:last-child {
	margin: 0;
}

/* Content Box Headers */
/* Disabled - we should inherit these from now on.... dangerous... */

/*.content-box h3 {
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;

	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	color: #aaa;
	display: block;
}*/

/*.content-box h2, .content-box h2 a {
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;

	font-size: 16px;
	font-weight: bold;
	color: #6f6f6f !important;
	text-transform: none;
	display: block;
	text-decoration: none;
	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}*/

.content-box h1:last-child,
.content-box h2:last-child,
.content-box h3:last-child {
	margin-bottom: 0px;
}

/* Content box split (ie a content box which has rows which are split between left and right content in them) */

.content-box-split {

}

.content-box-table > table {
	width: 100%;
}

/* bullet-content-box */
/* used to make a specific bolded point/highlighted point using content boxes */

.bullet-content-box {
	text-align: center;

	border: 0;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.50);
}

.bullet-content-box .content-box-pad {
	padding-top: 20px;
	padding-bottom: 20px;
}

.bullet-content-box h1 {
	background-color: #51aaef;

	color: #fff;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 20px;
	line-height: normal;
	
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.bullet-content-box p {
	padding-bottom: 0px;
}

/****************************************************************************/

/** Pulsing Circle **/

.pulse {
	border: 3px solid rgba(0,0,0,0.25);
	border-radius: 3px;
	opacity: 0.0;
	pointer-events: none; /** important: stops this blocking where we want to click*/

	animation: pulsate 1s ease-out;
	-moz-animation: pulsate 1s ease-out;
	-webkit-animation: pulsate 1s ease-out;
	
	-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;

	margin-top: -2px; /* for some reason... (due to splitting the difference of the border, perhaps?) */
	margin-left: -2px;
}

.pulse-ring {
	border-radius: 30px;
}

.pulse-absolute {
	position: absolute;
	z-index: 4;
}

.pulse-fixed {
	position: fixed;
	z-index: 6;
}

@-webkit-keyframes pulsate {
	0% {-webkit-transform: scale(0.95, 0.95); opacity: 0.0;}
	50% {opacity: 1.0;}
	100% {-webkit-transform: scale(1.1, 1.1); opacity: 0.0;}
}
@-moz-keyframes pulsate {
	0% {-webkit-transform: scale(0.95, 0.95); opacity: 0.0;}
	50% {opacity: 1.0;}
	100% {-webkit-transform: scale(1.1, 1.1); opacity: 0.0;}
}
@keyframes pulsate {
	0% {-webkit-transform: scale(0.95, 0.95); opacity: 0.0;}
	50% {opacity: 1.0;}
	100% {-webkit-transform: scale(1.1, 1.1); opacity: 0.0;}
}

/** Help **/

.helpPopover {

}

.helpPopover-toggle {
	font-size: 25px;
	padding-left: 3px;
	padding-right: 3px;
	color: #5689db;
	/*text-shadow: 0px -1px rgba(255,255,255,1.00);*/
	cursor: pointer;
}

.helpPopover .guider {
	text-align: center;
}

/*.helpPopover .guider h1 {
	font-weight: normal;
	margin-bottom: 10px;
	font-size: 20px;
	color: #333
}*/

.helpPopover .guider a {
	color: #19558D !important;
}

.helpPopover .guider a:hover {
	text-decoration: underline;
}

.helpPopover .guider p {
	text-align: left;
}
.helpPopover .guider p a {
	padding-left: 15px;
}

/** Help Bubble => Launch Help Popover **/
/* the help popover should be used to give an overview of major help options */

.help-bubble-fixed {
	position: fixed;
	z-index: 5;

	/*bottom: 20px;
	right: 20px;*/
	top: 20px;
	right: 0px;

	width: 48px;
	height: 48px;
	
	cursor: pointer;

	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;

	/*background-color: #3487C7;*/
	background-color: #255178; /* was #51aaef but that blended in too much */
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
	border: 1px solid rgba(0,0,0,0.05);
	
	font-size: 32px;
	color: rgba(255,255,255,1.0);
	text-shadow: -1px -1px 0px rgba(0,0,0,0.10);

	line-height: 48px; /* to valign */
	text-align: center;
}

@media(max-width: 767px) {
	.help-bubble-fixed {
		top: 60px; /* to push below fixed header */
		display: none; /* hack to stop us being able to trigger a guide in mobile mode */
	}

	.help-bubble-static {
		display: none; /* hack to stop us being able to trigger a guide in mobile mode */
	}
}

.help-bubble-static {
	display: inline-block;
	cursor: pointer;

	color: #255178;
	font-size: 26px;

	padding: 0 5px;
}

/** Info Boxes **/
/* Those boxes which feature courses etc, for example. These styles are common to them. */

.info-boxes > * {
	vertical-align: top !important;
}

.info-box {
	display: block;
}

.info-box h3,
.info-box .h3 {
	font-size: 14px;
	line-height: normal;
	color: inherit;
	font-weight: bold;
	color: rgba(0,0,0,1.0);
}

/* .info-box-banner is used when the course banner is displayed as part of wider info about the course */

.info-box .info-box-banner {
	display: block; /* as we use an a to make this clickable, need to make it a block */

	background-size: cover;
	background-position: center center;
	background-color: #ccc; /* default color */

	width: auto;
	height: 150px;
}

/* .info-box-banner-container is used when the course banner is designed to be the entire info-box */

.info-box .info-box-banner-container {
	display: block; /* as we use an a to make this clickable */

	background: #000;	

	width: auto;
	height: 150px;

	text-align: center;
	text-decoration: none;
}
.info-box .info-box-banner-container .info-box-banner {
	position: absolute;
	z-index: 0;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;

	background-size: cover;
	background-position: center center;

	opacity: 0.4;
}

.info-box .info-box-banner-container .text-container {
	position: relative;
	z-index: 1;
	white-space: nowrap;
	padding: 5px;
}
.info-box .info-box-banner-container .text-container .midaligner {
	height: 140px;
}
.info-box .info-box-banner-container .text-container .text {
	line-height: normal;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;

	font-size: 19px;
	color: #fff;
	font-family: "Open Sans";
	font-weight: 500; /* ie bold */
}

/*@media(max-width:767px) {
	.info-box .info-box-banner-container .text-container .text {
		font-size: 19px;
	}	
}*/

/* .info-box .quick-info */

.info-box .quick-info {
	
}

.info-box .quick-info > span {
	
}
.info-box .quick-info > span::after {
	content: "/";
	padding-right: 10px;
	padding-left: 10px;
	color: rgba(0,0,0,0.35);
	font-weight: normal;
}
.info-box .quick-info > span:last-child::after {
	content: "";
	padding-right: 0px;
	padding-left: 0px;
}

/* .info-boxes-noMargin */
/* Removes significant styling and margin from around info-boxes */

.info-boxes-noMargin {
	padding: 0px;
}

.info-boxes-noMargin {
	margin-left: -1px;
	margin-right: -1px;
	margin-bottom: -1px;
}

.info-boxes-noMargin .info-box {
	margin-left: 1px;
	margin-right: 1px;
}

.info-boxes-noMargin .equal-block-container {
	margin-bottom: 1px;
}

/* .info-boxes-noStyling */
/* Removes significant styling from the borders etc of info-boxes */

.info-boxes-noStyling .content-box {
	border: 0px !important;
	border-radius: 0px !important;
	box-shadow: none !important;
}

/** Social Plugins **/

/* don't need this as long as we vertical-align-top the social share elements */
/*.inline-children > .social-twitter-tweet {
	margin-top: 1px;
}*/

.social-facebook-share,
.social-facebook-like,
.social-facebook-send {
	/* when FB loads in these iframes at first they are huggeeee, we can constrain them using this so the pages are not overly distorted */

	max-width: 200px;
	max-height: 20px; /* assumes the button layout, we override this in the actual component for the box */
}

/** Social Widgets **/

/* .twitter-tweet */
/* overrides the display paramters on the iframe which loads in a twitter-tweet */
/* twitter applies some odd obnoxious rules on it by default */

.twitter-tweet {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	/*max-width: none !important;*/
}
.twitter-tweet-button {
	max-width: none !important;
}

/****************************************************************************/
/** Progress Bars **/
/* adapted from http://codepen.io/pedroG/pen/hKarC */
/* fixed their stupid z-index decisions */

.progressbar {
	margin: 0;
	padding: 0;
	height: 35px; /* assuming single line span... */
}

.progressbar li {
	list-style-type: none;
	width: 33%; /* defaults to 4 step */
	float: left;
	position: relative;
}

.progressbar-2-steps li {
	width: 100%;
}
.progressbar-3-steps li {
	width: 50%;
}
.progressbar-4-steps li {
	width: 33%;
}
.progressbar-5-steps li {
	width: 25%;
}
.progressbar-6-steps li {
	width: 20%;
}

.progressbar li:first-child {
	width: 0px;
}

.progressbar li > span {
	position: absolute;
	left: 50%;
	text-align: center;
	color: rgba(0,0,0,0.50);
	font-weight: 100;
	font-size: 11px;
	display: block;
	width: 100%;
	height: auto;
}
.progressbar li:first-child > span {
	text-align: left;
	left: 0px;
	white-space: nowrap; /* hack: forces the div to have a width */
}
.progressbar li:last-child > span {
	text-align: right;
	right: -5px;
	left: auto;
	white-space: nowrap; /* hack: forces the div to have a width */
}

.progressbar li:before {
	content: ' ';
	width: 10px;
	height: 10px;
	display: block;
	font-size: 10px;
	color: rgba(0,0,0,0.50);
	background: #ECECEC;
	border-radius: 10px;
	margin: 0 0 7px auto;
	position: relative;
	z-index: 2;
	text-align: center;
	font-weight: bold;
	top: 5px;
	left: 5px;
}
.progressbar li:first-child:before {
	left: 0px;
	margin: 0 0 7px 0;
}

/* connectors */

.progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #ECECEC;
	position: absolute;
	left: 0px;
	top: 9px;
	z-index: 1;
}
.progressbar li:first-child:after {
	content: none; /* ie do not display */
}

.progressbar li.active:after {
	background: #ECECEC;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,  
.progressbar li.active:after {
	background: #0085FF;
}
.progressbar li.active > span {
	color: #0085FF;
}