/** Header Banner **/

.header-banner-container {
	position: relative;
}

.header-banner {
	background: #014587; /* by default, can be overriden */
	border-bottom: 1px solid #fff;
	/*min-height: 370px;*/ /* do we even use this anymore? */

	/* shift up z-index to display over sidepane-colorpad */
	position: relative;
	z-index: 2;

	line-height: normal;
	color: #fff;

	margin-top: -42px; /* show under header from now on by default */
	padding-top: 42px;
	/*padding-bottom: 5px;*/

	/* in case we use a a background image */
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.header-banner a {
	color: inherit;
}

.header-banner-transparent,
.header-banner-light {
	color: #050505;
}

.header-banner > .inner-container {
	height: 100%;
	/*min-height: 370px;*/
}

.header-banner > .inner-container > div {
	/*padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;*/

	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
/*.header-banner.header-banner-afterHeaderBannerNav > .inner-container > div {
	padding-top: 25px;
}*/

.header-banner-background-absolute {
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* .header-banner-header */

.header-banner .header-banner-header {
	margin-bottom: 15px;
	text-align: center;
}
.header-banner .header-banner-header:last-child {
	margin-bottom: 0px;
}

/* .header-banner-header.inline-children */
/* used to designate a row of content in the header stacked up next to each other */
/* TODO: convert all to use block-children.... really... inline-children doesn't ever make sense for us anymore */
/*       and when in non mobile mode we want to use a table with cells, really where main takes up as much room as possible, all valign center by default */

.header-banner .header-banner-header.inline-children {
	text-align: left !important;
}

.header-banner .header-banner-header.inline-children > *,
.header-banner .header-banner-header.block-children > * {
	margin-right: 15px;
}
.header-banner .header-banner-header.inline-children > *:last-child,
.header-banner .header-banner-header.block-children > *:last-child {
	margin-right: 0px;
}

.header-banner .header-banner-header.inline-children .main,
.header-banner .header-banner-header.block-children .main {
	text-align: left;
}

@media(max-width:767px) {
	.header-banner .header-banner-header.inline-children,
	.header-banner .header-banner-header.block-children {
		text-align: center !important;
	}

	.header-banner .header-banner-header.inline-children > *,
	.header-banner .header-banner-header.block-children > * {
		display: block;
		position: relative;
		margin: 0 auto;
		
		margin-bottom: 10px;
	}
	.header-banner .header-banner-header.inline-children > *:last-child,
	.header-banner .header-banner-header.block-children > *:last-child {
		margin-bottom: 0px;
	}

	.header-banner .header-banner-header.inline-children .main,
	.header-banner .header-banner-header.block-children .main {
		text-align: center;
	}
}

/* when we have a left/right it means we want to float left and align right (main) to fill up remaining space */
/* BUT only when we are on full width display */

@media(min-width:768px) {
	.header-banner .header-banner-header.inline-children .left,
	.header-banner .header-banner-header.block-children .left {
		display: block !important;
		float: left;
		margin: 0px;
	}

	.header-banner .header-banner-header.inline-children .right,
	.header-banner .header-banner-header.block-children .right {
		display: block !important;
		float: none;
		position: relative;
		margin: 0px;
	}
}

@media(max-width:767px) {
	.header-banner .header-banner-header.inline-children .left,
	.header-banner .header-banner-header.block-children .left {
		float: none;
	}
	.header-banner .header-banner-header.inline-children .right,
	.header-banner .header-banner-header.block-children .right {
		margin-left: 0px !important;
		float: none;
	}
}

/* inner-content align */
/* allows us to bottom align content within a header-banner */
/* duplicated from .splash-inner .aligner, TODO: abstract */

.header-banner.inline-children {
	white-space: nowrap;
	margin-bottom: 0px; /* otherwise -5px due to inline-children default styling/spacing */
}

.header-banner.inline-children > * {
	white-space: initial;
	margin: 0px; /* otherwise got the 5px margin at the bottom and right */
}

.header-banner.inline-children > div:last-child {
	width: 100%;
	/*margin-left: -1px;*/
}

/*.header-banner.inline-children .aligner {
	vertical-align: middle;
}*/

@media(max-width: 767px) {
	.header-banner.inline-children .aligner {
		display: none !important; /* we don't want to align in this case - the header should just be the min height to fit our content */
								  /* have to !important as inline-children > * has inline-block applied as !important */
	}
}

/* Headings */

.header-banner h1 {
	margin-top: 0px;
	margin-bottom: 0;

	/*font-size: 36px;*/
	
	font-family: "Open Sans";
	font-weight: 100; /* was bold previously */
	font-size: 35px;

	/*line-height: 48px;*/
}

.header-banner h1 img {
	max-width: 100%; /* helps deal with shrinking images on mobile */
}

.header-banner h2 {
	margin-top: 10px;
	margin-bottom: 0px;
	padding-top: 0;

	/*font-size: 25px;*/
	font-weight: normal;
	font-family: "Open Sans";
	font-weight: 100;
	font-size: 22px;
	/*font-style: italic;*/

	/*line-height: 38px;*/ /* approxed from developer tools */
}

.header-banner h2 > span {
	display: inline-block; /* so that this only takes up the space it needs to in terms of width, not the whole page width */
}
.header-banner h2 .line {
	display: block;
}
.header-banner h2 .line > .fa:first-child {
	display: block;
	float: left;
	padding-right: 10px;
	vertical-align: middle;
	margin-top: 2px;
	font-size: 26px;
}
.header-banner h2 .line .text {
	display: block;
	position: relative;
	margin-left: 20px;
}

.header-banner-strong h1 {
	font-size: 45px;
	font-weight: 500;
	letter-spacing: -1px;
}
.header-banner-strong h2 {
	font-size: 30px;
}

.header-banner .header-banner-header .tags {
	margin-bottom: 5px;
}
.header-banner-splashImage .header-banner-header .tags .tag {
	border: 0;
	background: rgba(255,255,255,0.75);
}

.header-banner-splashImage { /* a particular type of .header-banner ie .header-banner.header-banner-splashImage */
	background-size: cover;
	background-position: center center;
}

.header-banner-splashImage h1 > span,
.header-banner h1.highlight > span,
.header-banner-splashImage h2 > span,
.header-banner h2.highlight > span {
	background: rgba(0,0,0,0.6);
	box-shadow: 10px 0 0 rgba(0,0,0,0.6), -10px 0 0 rgba(0,0,0,0.6);
}

.header-banner-splashImage h2 > span,
.header-banner h2.highlight > span {
	padding-bottom: 5px; 
}

.header-banner h4 {
	opacity: 0.75;
}

.header-banner .social-share {
	margin-top: 20px;
}

.header-banner .sub {
	margin-bottom: 0px;
}

/* .inner-container */
/* adding this in bceause it seems obvious we need some padding in this by default but it's not done... yet... */

.header-banner > .inner-container-wrap > .inner-container > div {
	padding: 15px;
}

/* .inner-container-wrap */
/* allows us to wrap just the content in the header-banner and not the whole banner itself */
/* useful for styling with a particular background color etc */

.header-banner .inner-container-wrap {
	/*background: rgba(0,0,0,0.75);
	color: #fff;*/

	/* shouldn't assume bg color - we apply it as an inline style, and color: #fff should be default on a header-banner anyway unless light class is applied */
}

/*@media(max-width:767px) {
	.header-banner {
		min-height: 0px;
	}
	.header-banner .inner-container {
		min-height: 0px;
	}
}*/