/** Modals **/

body.modal-open {
	/* applied to the body if there is a Modal open to stop scrolling interaction with the body */

	overflow: hidden;
}

/** Overlays **/

.overlay {
	position: fixed;
	z-index: 6;
}

.overlay-content-container {
	overflow: scroll;
	z-index: 7;
}

.overlay-content {
	position: relative;
	margin: 0 auto;
	max-width: 500px;
}

.overlay-offset { /* ie an overlay relative to the offset container */
	position: absolute !important;
	z-index: 6;
}

/** Overlay Positioning **/

.overlay-cover {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	overflow: hidden;
	overflow-x: hidden;
	overflow-y: auto;
}

.overlay-position-center {
	left: 50%;
}
.overlay-position-center > div {
	position: relative;
	left: -50%;
}

.overlay-position-top {
	top: 0;
}
.overlay-position-bottom {
	bottom: 0;
}

.overlay-position-right {
	right: 0;
}
.overlay-position-left {
	left: 0;
}

/** Animate Overlay Positioning **/

.overlay-animate-appear > div,
.overlay-animate-enter > div,
.overlay-animate-leave > div {
	transition: all .3s linear;
}

.overlay-animate-appear.overlay-position-bottom > div,
.overlay-animate-enter.overlay-position-bottom > div {
	margin-bottom: -100%;
}
.overlay-animate-appear.overlay-animate-appear-active.overlay-position-bottom > div,
.overlay-animate-enter.overlay-animate-enter-active.overlay-position-bottom > div {
	margin-bottom: 0px;
}

.overlay-animate-appear.overlay-position-top > div,
.overlay-animate-enter.overlay-position-top > div {
	margin-top: -100%;
}
.overlay-animate-appear.overlay-animate-appear-active.overlay-position-top > div,
.overlay-animate-enter.overlay-animate-enter-active.overlay-position-top > div {
	margin-top: 0px;
}

.overlay-animate-leave.overlay-position-bottom > div {
	margin-bottom: 0px;
}
.overlay-animate-leave.overlay-animate-leave-active.overlay-position-bottom > div {
	margin-bottom: -100%;
}

.overlay-animate-leave.overlay-position-top > div {
	margin-top: 0px;
}
.overlay-animate-leave.overlay-animate-leave-active.overlay-position-top > div {
	margin-top: -100%;
}

/** Backrops **/

.overlay-backdrop-semiblack {
	background: rgba(0, 0, 0, 0.60);
	color: #fff;
}

.overlay-backdrop-semiwhite {
	background: rgba(255,255,255,0.80);
}

/** Centered Overlay **/

.window-centered-container {
	position: fixed;
	z-index: 6;
}

.centered-overlay {
	display: none;

	padding: 30px;

	background: rgba(0,0,0,0.85);
	border-radius: 10px;
	box-shadow: 0px 0px 8px #000;

	color: #fff;
	text-align: center;
}

.centered-overlay-exitable {
	padding: 50px 30px;
	padding-bottom: 20px;
}

.centered-overlay h3 {
	color: #fff;
	font-size: 23px;
	font-weight: normal;
	letter-spacing: 1px;
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
}

.centered-overlay p {
	margin: 20px 0px;
}

.centered-overlay p.img {
	font-size: 100px;
}

.centered-overlay p .glyphicons:before {
	color: #fff;
}

.centered-overlay .button {
	position: relative;
	margin: 0 auto;
}

.centered-overlay-display {
	display: block;
}

.centered-overlay-exit {
	position: absolute;
	top: 0px;
	right: 10px;
	cursor: pointer;
	font-size: 30px;
	opacity: 0.5;
}

.centered-overlay-exit:hover {
	opacity: 1.0;
}

.centered-overlay .glyphicons:before {
	color: #fff;
}

/******************************************************************/
/** Modal-Content-Box **/

.modal-content-box {
	/*top: 70px;*/ /* we centre position using the WindowPositioCentre system but don't mid align on the window necessarily */

	/*margin: 0px;*/
	color: rgba(0, 0, 0, 0.70);
	box-shadow: 0px 0px 15px rgba(0,0,0,0.55);
	overflow: hidden;

	border: 0px;
	margin-bottom: 0px;
}

.modal-content-box > h1 {
	margin: 0;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	display: block;

	font-weight: normal;
	font-size: 16px;
	text-align: left;
	background: #f5f6f7;
	border-bottom: 1px solid #e5e5e5;
	font-weight: bold;
}

.modal-content-box .content-box-pad {
	padding: 15px;
}

/******************************************************************/
/** Overlay-Content-Box **/
/* these content boxes do not stop interaction with the main page but are overlayed on top of it and put in a fixed position generally */

.overlay-content-box {
	color: rgba(0, 0, 0, 0.70);
	box-shadow: 0px 0px 75px rgba(0,0,0,0.25);
	overflow: hidden;
	border: 0px;
	margin-bottom: 0px;
}

/******************************************************************/

/** Responsive Layout Overrides **/

/* Modal */

@media (max-width: 520px) {
	.overlay-content {
		width: 90%;
		/*top: 10px;*/ /* removed now that we position relative to initial scroll position */
	}
}

/******************************************************************/
/** Popovers **/
/* todo: cleanup */

.popover {
  pointer-events: all;

  /*background: #FFF;
  border: 1px solid #666;
  font-family: arial;
  position: absolute;
  outline: none;
  width: 500px;
  z-index: 900001 !important;*/
  
  /* Shadow */
  /*-moz-box-shadow: 0 0px 8px #111;
  -webkit-box-shadow: 0 0px 8px #111;
  box-shadow: 0 0px 8px #111;*/
  /* End shadow */
  
  /* Rounded corners */
  /*-moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 0 0 10px 10px;*/
  /* End rounded corners */

  position:absolute;
  z-index:6; /* above header, above guide-highlight */
  display:none;
  /*padding: 20px;*/ /* we apply this on the elements within now */
  font-size:14px;
  font-weight:400;
  line-height:1.42857143;
  text-align:left;
  white-space:normal;
  background-color:#fff;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  /*border:1px solid rgba(0,0,0,.2);*/
 
  /*-webkit-box-shadow:0 5px 10px rgba(0,0,0,.3);
  box-shadow:0 0px 10px rgba(0,0,0,.3);*/

  /*border-radius:6px;
  box-shadow: 0px 0px 12px 2px rgba(0,0,0,.2);*/

  border-radius: 3px;
  /*box-shadow: 0px 0px 4px 1px rgba(0,0,0,.15);*/
  /*box-shadow: 0 0 8px #b6c5ce;*/
  box-shadow: 0px 0px 7px 0px #b6c5ce;
}
.popover.popover-fixed {
  position: fixed;
  z-index: 6; /* ie above header */
}
.popover.popover-dark {
  /*box-shadow: 0 0 8px rgba(0,0,0,0.35);*/
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.23);
}
.popover.popover-small {
  width: 350px;
}
.popover.popover-fluid {

}
.popover.popover-fluid .popover_content {
  min-width: 0px;
  max-width: auto;
}
.popover.popover-animated {
  /* animate changes in positioning */
  /* we apply separately to popover else get some odd effects on initial render etc (might be a way around that in the actual JS by not rendering if position is not yet found...) */

  -webkit-transition: top 0.3s linear, left 0.2s linear;
  -moz-transition: top 0.3s linear, left 0.2s linear;
  -o-transition: top 0.3s linear, left 0.2s linear;
  transition: top 0.3s linear, left 0.2s linear;
}

/* Popover Arrows */

.popover_arrow {
  border-width:11px;
}

.popover_arrow, 
.popover_arrow:after {
  position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid
}
.popover_arrow:after {
  content:"";border-width:10px
}

.popover_arrow_down {bottom:-10px;left:50%;margin-left:-10px;border-top-color:#999;border-top-color:rgba(0,0,0,.10);border-bottom-width:0}
.popover_arrow_down:after {bottom:1px;margin-left:-10px;content:" ";border-top-color:#fff;border-bottom-width:0}
.popover_arrow_left {top:50%;left:-10px;margin-top:-10px;border-right-color:#999;border-right-color:rgba(0,0,0,.10);border-left-width:0}
.popover_arrow_left:after {bottom:-10px;left:1px;content:" ";border-right-color:#fff;border-left-width:0}
.popover_arrow_up {top:-10px;left:50%;margin-left:-10px;border-top-width:0;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,.10)}
.popover_arrow_up:after {top:1px;margin-left:-10px;content:" ";border-top-width:0;border-bottom-color:#fff}
.popover_arrow_right  {top:50%;right:-10px;margin-top:-10px;border-right-width:0;border-left-color:#999;border-left-color:rgba(0,0,0,.10)}
.popover_arrow_right:after {right:1px;bottom:-10px;content:" ";border-right-width:0;border-left-color:#fff}

.popover.popover-decorate .popover_arrow_up {top:-10px;left:50%;margin-left:-10px;border-top-width:0;border-bottom-color:#fff;border-bottom-color:rgba(0,0,0,.10)} /* note use of different color for the up arrow due to the h1 border (ie assumes a border), also shifted up slightly to avoid blue border */
.popover.popover-decorate .popover_arrow_up:after {top:1px;margin-left:-10px;content:" ";border-top-width:0;border-bottom-color:#fff}

/* Popover Content */

.popover_content {
  position: relative;
  min-width: 250px;
  max-width: 420px;
  line-height: 175%;
}
.popover_content .button {
	line-height: normal;
}

.popover_content > * {
  margin: 0;

  display: block;
  padding: 5px 30px;
}
.popover_content > *:first-child {
  padding-top: 20px;
}
.popover_content > *:last-child {
  padding-bottom: 20px;
}

.popover-small .popover_content > *,
.popover-fluid .popover_content > * {
	padding: 5px;
}

/* Popover Buttons */

.popover .buttons {

}
.popover .buttons .button {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 15px;
}
.popover .buttons .button:last-child,
.popover .buttons.block-children > * {
  margin-right: 0px;
}
.popover .buttons p {
  text-align: left;
}

/* Header */

.popover .popover-header {
  color: #51aaef !important;
  font-family: 'Open Sans', serif !important;
  font-weight: 600 !important;
  font-size: 20px !important;
}

/* Paragraph */

.popover p {
  color: #333;
  font-size: 15px;
}

/* Nav */

.popover ul.popover-nav {
	margin: 0;
	padding: 0;
	list-style: none;
	min-width: 250px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.popover ul.popover-nav:first-child {
	margin-top: 20px;
}
.popover ul.popover-nav:last-child {
	margin-bottom: 20px;
}

.popover ul.popover-nav > li {
	margin: 0;
	padding: 0;
	text-align: left;
	display: block;
}
.popover ul.popover-nav > li > a {
	display: block;
	padding: 5px 30px;
	/*font-weight: bold;*/
	text-decoration: none;
	color: rgba(0,0,0,0.75);
	position: relative;
}
.popover ul.popover-nav > li > a:hover {
	color: rgba(0,0,0,0.75);
	background: rgba(0,0,0,0.05);
}

.popover ul.popover-nav > li > a > span {
	display: block;
	position: relative;
	padding-left: 30px; /* assumes an icon is going to be inserted on the left */
}
.popover ul.popover-nav > li > a .strap {
	font-weight: normal;
	font-size: 12px;
	margin-top: 1px;
	display: block;
}
.popover ul.popover-nav > li > a .fa {
	position: absolute;
	left: 0px;
	top: 5px;
}