/* Used to differentiate between top of the page and having started scrolling using the scrollSpy system */

.scrollSpy-offsetTop {
	position: absolute;
	top: 1px;
	left: -1px;
	width: 1px;
	height: 1px;
}