/** Splash Container **/
/* Contains .header-banner */
/* TODO: Define react components to do all of this via ? */

.splash {
	position: relative; /* so that we can absolute position stuff within this */
	z-index: 1;

	background-size: cover;
	background-position: center top;
	background-color: #fff; /* default */

	/* background color transition */
	transition: background-color .3s linear;
}

.splash.splash-divider {
	border-bottom: 1px solid #e2e2e2;
}

.splash.splash-main {
	/*margin-top: -42px;*/ /* show under header from now on by default */ /* obsolete with new sidebar system */
	z-index: 4; /* needs to push above other splashes as well as splash-nav etc but do not want it above the header */
}

.splash.splash-transparent {
	background-color: transparent;
}

.splash.splash-skinny {

}

.splash.splash-hasBackground {
	/* used to flag up a splash which has a background applied to it (vs just being white) */
	/* todo: differentiate between light and dark backgrounds */
}

/* General Styling */

.splash p,
.splash .bullets,
.splash .formatted {
	font-size: 17px;
	font-family: "Open Sans";
	font-weight: 100;
}

.splash .bullets {
	list-style-type: square;
	padding-left: 20px;
}

.splash .bullets li {
	margin-bottom: 5px;
}
.splash .bullets li:last-child,
.splash p:last-child {
	margin-bottom: 0px;
}

.splash .sub {
	font-size: 13px;
	font-weight: 400;
	color: rgba(0,0,0,0.45);
}

/* Splash Inner */

.splash .splash-inner {
	/*position: relative;*/ /* don't want to do this else stuff inside is positioned relative to this vs the container which is what we really want to position again */
	/* TODO: Slim these down when the width of the page <767px, otherwise it just seems too much. Problem is that some of our actual code depends on these heights, would need to dynamically check if we are at 50 or 25px (for example) padding and adjust etc */
	
	/* this was 50px */
	padding-top: 30px;
	padding-bottom: 30px;

	overflow: hidden;

	background-size: cover;
	background-position: center top;

	/* background color transition */
	transition: background-color .3s linear;
}

.splash.splash-skinny .splash-inner {
	/*padding-bottom: 0px;*/
}

/*.splash.splash-main .splash-inner {
	padding-top: 62px;
}*/

/*.splash.splash-main .splash-inner {
	padding-top: 50px;
}*/

/*@media(max-width: 767px) {
	.splash.splash-main .splash-inner {
		padding-top: 30px;
	}
}*/

.splash .splash-inner > *,
.splash .splash-inner-content > * {
	position: relative;
	z-index: 1;
}
.splash .splash-inner-content { /* this occurs within splash-inner, we want to act like this is itself a splash-inner container */
	position: static !important;
	margin-bottom: 0px !important; /* usually inline-children inherit a 5px margin at the bottom */
}

/*.splash .splash-inner-noPad {
	padding-top: 42px;
}*/

.splash .splash-innerShadow {
	position: absolute;
	z-index: 0;
	box-shadow: 0px -1px 3px rgba(0,0,0,0.25);
	/*border-top: 1px solid #dfe0e4;*/
	height: 10px;
	width: 100%;
	bottom: -40px; /* todo: adjust if skinny etc */
}

/* .splash-inner .aligner */
/* allows us to mid align content within a splash */

.splash .splash-inner.inline-children {
	white-space: nowrap;
	margin-bottom: 0px; /* otherwise -5px due to inline-children default styling/spacing */
}

.splash .splash-inner.inline-children > * {
	white-space: initial;
}

.splash .splash-inner.inline-children > div:last-child {
	width: 100%;
	margin-left: -5px; /* not sure why this has to be -5px */
}

.splash .splash-inner .aligner {
	vertical-align: middle;
}

/* Splash Backdrops */

.splash .splash-backdrop {
	position: relative;
	z-index: 1;

	/* for layering backdrops (ie an image) within and at the back of a splash */
	/* should wrap .splash-inner so that we are forced to use the height */

	background-size: cover;
	background-position: center center;
}

.splash .splash-backdrop-video {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	overflow: hidden; /* so that we clip overflow of the video tag which is contained within this if it extends too far out */
}

.splash .splash-backdrop-video video {
	position: absolute;
	bottom: 50%; 
	right: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto;
	/*z-index: -1000;*/
	overflow: hidden;

	left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); /* this is to center the video, not sure if this is meant to be on the parent node or on this node */
}

.splash .splash-backdrop-absolute {
	/* stretched it out over relative container */

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}

@media(max-width:767px) {
	.splash.splash-skinny .splash-inner {
		/*padding-top: 42px;*/ /* to be honest maybe it should just always be this for a splash-skinny */
		padding-bottom: 0px;
	}
}

/***************************************************************************************************/
/** Splash Backdrop Animations (using ReactCSSTransitionGroup) **/

.splash-backdrop-fade-enter {
	opacity: 0.0;

	-webkit-transition: opacity 0.75s linear;
	-moz-transition: opacity 0.75s linear;
	-o-transition: opacity 0.75s linear;
	transition: opacity 0.75s linear;
}

.splash-backdrop-fade-enter.splash-backdrop-fade-enter-active {
	opacity: 1.0;
}

.splash-backdrop-fade-leave {
	opacity: 1.0;

	-webkit-transition: opacity 0.75s linear;
	-moz-transition: opacity 0.75s linear;
	-o-transition: opacity 0.75s linear;
	transition: opacity 0.75s linear;
}

.splash-backdrop-fade-leave.splash-backdrop-fade-leave-active {
	opacity: 0.0;
}

/***************************************************************************************************/

/* General Elements */

.splash.splash-hasBackground .info-box.content-box {
	border: 0;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.30);
}

/***************************************************************************************************/

/* Header Banner Splash Container */

.splash .splash-header-banner-container {
	padding-top: 25px;
	padding-bottom: 25px;

	/* to allow header-banner-nav to be pushed above everything else */
	position: relative;
	z-index: 5;
}

.splash.splash-skinny .splash-header-banner-container {
	padding-top: 15px;
	padding-bottom: 15px;
}

.splash .splash-header-banner-container.cover {
	/* same styling used for .cover and max-width auto covering */

	padding: 0px;
	/*margin-top: -42px;*/ /* obsolete with new sidebar system */
}
/*.splash .splash-header-banner-container.cover > *:first-child > *:first-child {
	padding-top: 42px;
}*/

/*.splash .splash-header-banner-container.bottom {

}*/

@media(max-width:767px) {
	.splash .splash-header-banner-container,
	.splash.splash-skinny .splash-header-banner-container {
		padding: 0px;
		/*margin-top: -42px;*/
		margin-top: -30px;
	}

	/*.splash .splash-header-banner-container > *:first-child > *:first-child {
		padding-top: 42px;
	}*/
}

/* Header Banner */

.splash .header-banner {
	position: relative;
	z-index: 1;

	background: transparent;
	min-height: 0px;
	border-bottom: 0px;

	margin-top: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.splash .header-banner .header-banner-header {
	text-align: center;
}

.splash .header-banner-container {
	/* this contains the background image for the header banner (ie a blur for example) */

	/*background-size: cover;*/
	/*background-position: center -77px;*/
}

/*.splash .header-banner-container-afterNav {
	background-position: center -127px;
}*/

.splash .header-banner .inner-container {
	min-height: 0px;
}

.splash .header-banner > .inner-container-wrap > .inner-container > div,
.splash .header-banner > .inner-container > div {
	padding-top: 15px;
	padding-bottom: 15px;
}

.splash .header-banner h1 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.splash .header-banner h2 {
	/*margin-top: 5px;*/
	margin-top: 0px;
	
	margin-bottom: 0px;
	line-height: 175%;
}

/* FAQ */

.splash .header-banner .faq {
	font-family: "Open Sans";
	font-size: 15px;
	margin-top: 15px;
	line-height: 30px;
}

.splash .header-banner .faq > * {
	margin-right: 10px;
	padding: 0px 10px;
	display: inline-block;
}

.splash .header-banner .faq > *:last-child {
	margin-right: 0px;
}

.splash .header-banner .faq .title {
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	margin-right: 7px;
	font-weight: 100;
	padding-left: 0px;
}

.splash .header-banner .faq a {
	background: rgba(0, 0, 0, 0.25);
	color: #fff;
	text-decoration: none;
}

@media(max-width:767px) {
	.splash .header-banner .faq > * {
		display: block;
		margin-bottom: 5px;
		margin-right: 0px;
	}

	.splash .header-banner .faq > *:last-child {
		margin-bottom: 0px;
	}
}

/***************************************************************************************************/

/** Splash Nav **/
/* Doesn't need to be placed within a splash container - can be used independently */

.splash-nav-container {
	/* height: 51px; */ /* this no longer needs to have height if we are only showing on scroll past the top of the page */
	position: relative;
	height: 61px; /* +1 for the border on .splash-nav */

	background: #fff;
	/*border-top: 1px solid #e2e2e2;*/
}

.splash-nav {
	height: 60px;
	background: #fff;
	border-bottom: 1px solid #e2e2e2;
	background: #fff;
}

.splash-nav > .inner-container > div {
	padding-left: 15px;
	padding-right: 15px;
}

.splash-nav > .inner-container > div > div {
	/* used so that we can position .right absolutely */
	
	position: relative;
}

.splash-nav-fixed {
	position: fixed;
	z-index: 3;
	/*top: 42px;*/
	top: 0px;
	right: 0px; /* we align to the right now, due to sidebar being on the left */
	width: 100%;

	background: #fff;
	/*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);*/
}

.splash-nav-fixed-afterHeaderBannerNav {
	/*top: 80px;*/
	top: 38px;
}

/* Content */
/* we introduce .splash-nav-content which should eventually be used infront of .links etc too but is not right now for backwards compat reasons */

.splash-nav .splash-nav-content > * {
	line-height: 60px;
	display: inline-block;
	vertical-align: top;
}

.splash-nav .splash-nav-content > * > * {
	line-height: normal; /* ie overide the 60px thing by default by this point */
	display: inline-block;
	vertical-align: middle;
}

.splash-nav .splash-nav-content > *:before {
	content: " ";
	display: inline-block;
	height: 60px;
	vertical-align: top;
	width: 1px;
	margin-right: -1px;
}

/* Left */

.splash-nav .links {
	font-family: "Open Sans";
	line-height: 60px;
}

.splash-nav .links:first-child {
	margin-left: -15px; /* to compensate for enclosing div */
}

.splash-nav .links a {
	display: inline-block;
	vertical-align: top;

	/*font-weight: bold;*/
	font-size: 16px;
	color: rgba(0,0,0,0.65);
	font-weight: bold;
	text-decoration: none;
	line-height: 60px;

	/*border-right: 1px solid #e9e9e9;*/
}
/*.splash-nav .links a:first-child {
	border-left: 1px solid #e9e9e9;	
}*/

.splash-nav .links > * > span {
	display: block;

	padding-left: 15px;
	padding-right: 15px;
}

.splash-nav .links > * > span > * {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.splash-nav .links > .block {
	display: inline-block !important;
}
.splash-nav .links > .block > span {
	line-height: normal;
}
.splash-nav .links > .block > span::before,
.splash-nav .midaligner {
	/* a midaligner for all of the content within the block */

	content: "";
	display: inline-block;
	height: 60px;
	vertical-align: middle;
	width: 1px;
	margin-right: -1px;
}

.splash-nav .links > .block .text-block {
	text-align: center;
}
.splash-nav .links > .block .text-block .number {
	display: block;
	font-size: 25px;
	font-weight: normal;
}
.splash-nav .links > .block .text-block .text {
	display: block;
	font-size: 14px;
	margin-top: -2px;
}

.splash-nav .links > .active {
	border-bottom: 4px solid #51aaef;
	color: #000000;

	height: 57px; /* +1 to overlap the border at the bottom */
}

/* Right */
/* TODO: Update to new system.... */

.splash-nav .right {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;

	/* stops this flowing onto the line below even if the left float is too wide, also pushes it above */
	/* todo: could change this to use a remaining width fill up technique like we did with the header search bar */
	position: absolute;
	right: 0;
	height: 60px;
	z-index: 1;
}
.splash-nav-fixed .right {
	opacity: 1; /* ie only show when we have focused in and fixed this nav element */
}

.splash-nav .right > * {
	vertical-align: middle;
	line-height: 60px;
}

.splash-nav .right .price-container {
	padding-right: 10px;
	text-align: right;
}

.splash-nav .right .price-container > * {
	display: block;
	line-height: normal;
}

.splash-nav .right .price {
	color: #57ad0b;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 17px;
}
.splash-nav .right .price-period {
	font-size: 13px
}

.splash-nav .right .button {
	font-size: 16px;
	line-height: 1;
}

.splash-nav .right .button > span {
	padding: 9px 16px;
}

/* Responsive Layout (ie hide for small phones) */

@media(max-width:767px) {
	.splash-nav-container {
		display: none;
	}
}

/******************************************************************************************************************************/

/** NOTE: This stuff is sorta deprecated - we prefer to just style directly per implementation than rely on this.... **/

/** Splash Content **/
/* Occurs in content boxes formatted in various different layouts depending on the use case */

.splash-content {
	/*padding-top: 20px;*/ /* doesn't seem to be necessary and just unablances things when we display them below a header-banner, perhaps only needed if we don't have a header-banner ? */
	text-align: left;
	background: transparent !important; /* to override content-container which should be applied with this to get core styling usable in here */
}

.splash-content p,
.splash-content .bullets {
	/* reset back to body */
	/* this is  hacky at best */

	font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 14px;
	font-weight: normal;
}

.splash-content .inner-container {

}

.splash-content > .inner-container > div {
	position: relative;
	/*height: auto;*/ /* no reason to think we need this... but was in here for some reason... */
	
	/* this should be handled by using content-pad from now on */
	/* increased the below to 15px to match up with header-banner */
	/*padding-left: 15px;
	padding-right: 15px;*/
}

.splash-content.splash-content-mid {
	/* THIS IS ASSUMED THE DEFAULT BEHAVIOUR - BOTTOM (see below) IS AN OVERRIDE */

	/* Aligns content to be in the middle of the splash content space */
	/* When we say middle we mean more just not hugging bottom and well spaced from the bottom of the splash container */
}

.splash .splash-content.splash-content-bottom {
	/* Aligns the content to hug the bottom of the splash */

	margin-bottom: -30px;
}

.splash-content-contain {
	/* this contains the actual content boxes used */
}

.splash-content-contain > .content-pad {

}

@media(max-width: 767px) {
	.splash.splash-main .splash-content {
		margin-bottom: -30px; /* need to work out if this is really what we walways want */
	}

	/* Makes sure the splash header banner or whatever the content is covers the whole splash area when we are in mobile mode */

	.splash .splash-inner {
		min-height: 0px !important;
	}
	.splash .splash-inner .aligner {
		height: 0px !important;
	}
}

/** Splash Content Boxes **/
/* Specifically splash-content-content-boxes to stop us inheriting these styles in courses etc which may be contained in .content-boxes below this level */

.splash-content .splash-content-box {

}

.splash-content.splash-content-bottom .splash-content-box {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;	
}

.splash-content .splash-content-box .content-box-pad {
	padding: 20px;
}

.splash-content .splash-info-table {
	color: #000;
	line-height: 175%;
	font-size: 13px;
}

/* .splash-content-box-styled */

.splash .splash-content-box-styled {
	/*box-shadow: 0px 0px 10px rgba(0,0,0,0.50);*/
	box-shadow: none;
	border: 0;
	overflow: hidden; /* shouldn't this always be the case for content-boxes... else we don't clip the background color of blocks it contains... */
}

.splash .splash-content-box-styled > .content-box-section > h3 {
	font-family: "Open Sans";
	text-transform: none;
	font-size: 19px;
	color: #515151;
	font-weight: normal;
	line-height: normal;
	margin-bottom: 0px;
}

/**************************************************************************************************************/

/** Content Layouts **/
/* Define layouts for within splash-content */

/**************************************************************************************************************/

/* .splash-content-focusLeft */
/* Puts the focal container on the left of the page, with a sub box which extends out to the right [recommend that that box is shaded] */

/*.splash-content.splash-content-focusLeft .inner-container > div {

}*/

.splash-content.splash-content-focusLeft .inner-container > div:last-child > div:last-child {
	/* we have to put the padding top and bottom in a child div so that when we position absolute the left and right is still aligned correctly */

	position: relative;

	padding-top: 25px;
	padding-bottom: 25px;
}

.splash-content.splash-content-focusLeft .inner-container > div:last-child > div:last-child > .clearfix {
	overflow: hidden;
	border-bottom-right-radius: 3px; /* hack to get the border radius in the bottom right that we cut off back in */
}


.splash-content.splash-content-focusLeft .splash-content-focusLeft-table {
	display: table;
	width: 100%;

	position: relative;
	z-index: 4;
}

/* Focused Content */

.splash-content.splash-content-focusLeft .splash-content-focus {
	min-width: 400px;
	display: table-cell;
	vertical-align: top;
}

.splash-content.splash-content-focusLeft .splash-content-focus.content-box,
.splash-content.splash-content-focusLeft .splash-content-focus > .content-box {
	border-top: 0px;
	border-bottom: 0px;
	border-radius: 0px;
	margin-bottom: 0px;

	overflow: visible !important;
}

.splash-content.splash-content-focusLeft .splash-content-focus.content-box > .content-box-pad,
.splash-content.splash-content-focusLeft .splash-content-focus > .content-box > .content-box-pad {
	padding-top: 0px;
	padding-bottom: 0px;
}

.splash-content.splash-content-focusLeft .splash-content-focus.content-box .content-box-section:first-child,
.splash-content.splash-content-focusLeft .splash-content-focus > .content-box .content-box-section:first-child {
	padding-top: 5px;
}
.splash-content.splash-content-focusLeft .splash-content-focus.content-box .content-box-section:last-child,
.splash-content.splash-content-focusLeft .splash-content-focus > .content-box .content-box-section:last-child {
	padding-bottom: 5px;
}

.splash-content.splash-content-focusLeft .splash-content-focus-topDecoration {
	position: absolute;
	z-index: 3;
	overflow: visible !important;

	width: 400px;
	height: 25px;
	margin-bottom: 0px;

	left: 0px;
	top: 0px;

	border-bottom: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.splash-content.splash-content-focusLeft .splash-content-focus-bottomDecoration {
	position: absolute;
	z-index: 3;
	overflow: visible !important;

	width: 400px;
	height: 25px;
	margin-bottom: 0px;

	left: 0px;
	bottom: 0px;

	border-top: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.splash-content.splash-content-bottom.splash-content.splash-content-focusLeft .splash-content-focus-bottomDecoration {
	display: none;
}

/* Sub Content */

.splash-content.splash-content-focusLeft .splash-content-sub {	
	display: table-cell;
	vertical-align: top;
	width: 100%;
} 

.splash-content.splash-content-focusLeft .splash-content-sub.content-box,
.splash-content.splash-content-focusLeft .splash-content-sub > .content-box {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 0px;
	margin-bottom: 0px;
}

/*.splash-content.splash-content-bottom.splash-content-focusLeft .splash-content-sub {
	bottom: auto;
}*/

/* Heads */

.splash-content.splash-content-focusLeft .content-pad.content-head-focus-contain {
	padding-top: 0px;
	padding-left: 0px;
}

.splash-content.splash-content-focusLeft .content-pad.content-head-sub-contain {
	padding-top: 0px;
}

.splash-content.splash-content-focusLeft .content-head-focus-contain h4,
.splash-content.splash-content-focusLeft .content-head-sub-contain  h4 {
	padding: 0;
	margin: 0;
	color: rgba(255,255,255,0.75);
}

@media(max-width: 767px) {
	.splash-content.splash-content-focusLeft .splash-content-focus-bottomDecoration {
		display: none;
	}

	.splash-content.splash-content-focusLeft .splash-content-focus-topDecoration {
		width: 100%;
	}

	.splash-content.splash-content-focusLeft .inner-container {
		padding-bottom: 0px;
	}

	.splash-content-focusLeft {
		/*margin-bottom: -49px; */ /* hacky hacky hacky but only needed when we are not in skinny mode... in which case might not want it anyway (due to background image), will revist later */
	}

	/* Focus */

	.splash-content.splash-content-focusLeft .splash-content-focus {
		min-width: 100%;
		display: block;
	}

	.splash-content.splash-content-focusLeft .splash-content-focus.content-box,
	.splash-content.splash-content-focusLeft .splash-content-focus > .content-box {
		margin-bottom: 0px;
		padding-bottom: 0px;
		padding-bottom: 20px;
	}

	/* Sub */

	.splash-content.splash-content-focusLeft .splash-content-sub {
		width: 100%;
		display: block;
	}

	.splash-content.splash-content-focusLeft .splash-content-sub.content-box,
	.splash-content.splash-content-focusLeft .splash-content-sub > .content-box {
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
}

/**************************************************************************************************************/

/* .splash-content-centreFocus */
/* Centres the content in the middle of the splash */

.splash-content.splash-content-centreFocus {

}

.splash-content.splash-content-centreFocus .splash-content-focus {
	width: 70%;
	margin: 0 auto;
}

@media(max-width:767px) {
	.splash-content.splash-content-centreFocus .splash-content-focus {
		width: 100%;
	}
}

/**************************************************************************************************************/
/** Styling for specific content containers */

/* Events */

.splash-content .splash-content-contain-events .event {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: normal;
}

.splash-content .splash-content-contain-events .no-events {
	text-align: center;
	color: rgba(0,0,0,0.35);
	font-weight: bold;
	font-size: 15px;
}

.splash-content .splash-content-contain-events .event .date {
	font-size: 13px;
	color: rgba(0, 0, 0, 0.6);
}

.splash-content .splash-content-contain-events .event h4 {
	margin-bottom: 0px;
	font-size: 19px;
	line-height: 150%;
	text-transform: none;
	font-family: "Open Sans";
	font-weight: bold;
	margin-bottom: 3px;
}

.course-splash-new .splash-content-contain-events .event .user,
.course-splash-new .splash-events-timetable .timetable .event .user {
	font-size: 13px;
	/*font-weight: bold*/
}

.course-splash-new .splash-content-contain-events .event .user a,
.course-splash-new .splash-events-timetable .timetable .event .user a {
	font-weight: bold;
	color: rgba(0,0,0,0.90);
}

.course-splash-new .splash-content-contain-events .event .user .with,
.course-splash-new .splash-events-timetable .timetable .event .user .with {
	color: rgba(0, 0, 0, 0.60);
	/*font-weight: bold*/
}

/******************************************************************************************************************************/
/** Splash content positioning **/

.splash-position-bottom {
	position: absolute !important;
	bottom: 0px;
	width: 100%;
}

@media(max-width: 767px) {
	.splash-position-bottom {
		position: relative !important;
		width: auto;
		margin-bottom: -30px;
	}
}